@import "/styles/variables";

.container {
  padding: 0 30px 40px 30px;

  @media (max-width: 1600px) {
    padding: 0px 30px 36px 30px;
  }
  @media (max-width: 1024px) {
    padding: 0px 20px;
  }
  @media (max-width: 640px) {
    padding: 0px 0px 24px 10px;
  }

 
  

  .compareWrapper {
    .header {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      gap: 16px;
      @media (max-width: 1024px){
        gap: 24px;
      }
      .topContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

        @media (max-width: 640px) {
          display: flex;
          gap: 24px;
          width: 100%;
        }

        h1 {
          font-size: 48px;
          line-height: 110%;
          letter-spacing: -2%;
          text-transform: uppercase;
          color: $dark-gray;
          @media (max-width: 640px) {
            font-size: 32px;
          }
        }
        .btnContainer {
          display: flex;
          flex-direction: row;
          gap: 32px;
          height: 26px;
          .downloadButton,
          .addButton,
          .clearButton {
            background: unset;
          }
          @media (max-width: 1024px) {
            display: none;
          }
        }
      }
      .bottomContainer {
        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
          gap: 48px;
        }
        @media (max-width: 640px) {
          gap: 24px;
        }
        .categoriesFilter {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 20px;
        }
        .btnContainerMobile {
          display: none;
          @media (max-width: 1024px) {
            display: flex;
            gap: 24px;
          }
        }
      }
    }
    .compareContainer {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      justify-content: center;
    }
    .productsSlider {
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      width: 100%;
      max-width: 100%;
      margin: 48px 0;
      overflow: auto;

      scroll-behavior: smooth;
      transition: transform 0.3s ease;
    }
    .productsSlider::-webkit-scrollbar {
      display: none;
    }
    .productCard {
      text-decoration: none;
      border-radius: 20px;
      background: $white;
      align-items: center;
      position: relative;
      padding: 40px;
      justify-content: start;
      flex: 0 0 24%;
      display: flex;
      flex-direction: column;
      @media (max-width: 1400px) {
        flex: 0 0 32.5%;
        padding: 30px;
      }
      @media (max-width: 1024px) {
        flex: 0 0 49%;
      }
      @media (max-width: 640px) {
        flex: 0 0 90%;
        padding: 20px;
      }
      .cardIcons {
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        gap: 16px;
      }
      .favoriteIcon,
      .trashIcon {
        cursor: pointer;
        width: 33px;
        height: 33px;
      }
      .productImage {
        width: 314px;
        height: 280px;
        margin-bottom: 30px;
        @media (max-width: 1600px) {
          margin-bottom: 40px;
          width: 245px;
          height: 218px;
        }
        @media (max-width: 1024px) {
          width: 290px;
          height: 258px;
        }
        @media (max-width: 640px) {
          margin-bottom: 38px;
          width: 140px;
          height: 150px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .productTitle {
        font-family: "DIN Pro condensedbold", sans-serif;
        font-size: 22px;
        text-align: left;
        text-decoration: none;
        width: 100%;
        color: $dark-gray;
        line-height: 36.4px;
        letter-spacing: -0.02em;
        @media (max-width: 1600px) {
          font-size: 20px;
        }
        @media (max-width: 1024px) {
          font-size: 22px;
        }
        @media (max-width: 640px) {
          font-size: 20px;
        }
      }
    }
  }

  .compareWrapperScroll.fixed {
    position: fixed;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    width: 100%;
    z-index: 1000;
    background: $white;    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    @media (max-width: 1600px) {
      top: 130px;
    }
    @media (max-width: 1024px) {
      top: 124px;
    }
    @media (max-width: 640px) {
      top: 72px;
    }
    &.unfixed {
      position: relative;
      top: auto;
      box-shadow: none;
    }
    .topControls {
      display: flex;
      flex-direction: column;
      background: $white;
      width: 100%;

      margin-bottom: 10px;
      align-items: center;
      .leftContainer {
        display: flex;
        gap: 48px;
        @media (max-width: 1024px) {
          gap: 24px;
          padding: unset;
        }
        @media (max-width: 640px) {
          gap: 24px;
        }
      }
      .buttonContainer {
        display: flex;
        justify-content: space-between;
        max-width: 1830px;
        width: 100%;
        padding: 20px 30px;
        @media (max-width: 1024px) {
          padding: 20px 20px;
        }
        display: none;
      }
      .separator {
        margin-bottom: 10px;
        height: 1px;
        background-color: #3232321a;
        width: 100%;
        @media (max-width: 640px) {
          margin-bottom: 27px;
        }
      }
      .compareContainer {
        display: flex;
        width: 100%;
        position: relative;
      }
      .productsSlider {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: start;
        overflow-x: hidden;
        overflow-y: hidden;
        max-width: 1830px;
        margin: 0 45px;
        @media (max-width: 1820px) {
          margin-left: 45px;
        }
        @media (max-width: 1400px) {
          justify-content: unset;
        }
        @media (max-width: 1024px) {
          margin-left: unset;
        }
      }
      .productsSlider::-webkit-scrollbar {
        display: none;
      }
      .productCard {
        text-decoration: none;
        border-radius: 20px;
        background: $white;
        text-align: left;
        position: relative;
        justify-content: center;
        align-items: center;
        flex: 0 0 24%;
        display: flex;
        gap: 19px;
        @media (max-width: 1400px) {
          flex: 0 0 32.5%;
        }
        @media (max-width: 1024px) {
          flex: 0 0 49%;
        }
        @media (max-width: 640px) {
          flex: 0 0 65%;
          flex-direction: column;
          padding-left: 27px;
          justify-content: center;
          align-items: center;
        }
        .cardImg {
          position: relative;
          overflow: hidden;
          width: 70px;
          aspect-ratio: 0.9;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
          }
        }
        .infoContainer {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 28px;
          @media (max-width: 1600px) {
            gap: 52px;
          }
          @media (max-width: 1024px) {
            gap: 28px;
          }
          @media (max-width: 640px) {
            gap: 24px;
          }
          .productTitle {
            font-family: "DIN Pro condensedbold", sans-serif;
            font-size: 22px;
            text-align: left;
            text-decoration: none;
            line-height: 120%;
            letter-spacing: -0.44px;
            color: $dark-gray;
            max-width: 218px;
            @media (max-width: 1600px) {
              font-size: 22px;
            }
            @media (max-width: 1024px) {
              font-size: 22px;
            }
            @media (max-width: 640px) {
              font-size: 18px;
            }
          }
          .cardIcons {
            display: flex;
            gap: 10px;
            .btn {
              border: 1px solid $blue-light;
              width: 64px;
              height: 46px;
              border-radius: 7px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              img {
                height: 24px;
                width: 24px;
              }
            }
          }
        }
      }
    }
  }

  .downloadButton,
  .addButton,
  .clearButton {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border: none;
    background: $white;
    color: $main-blue;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.03em;
    font-family: "DIN Pro medium", sans-serif;
    cursor: pointer;
    @media (max-width: 1024px) {
      background: unset;
    }
    @media (max-width: 640px) {
      span {
        display: none;
      }
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
  .clearButton {
    color: $dark-gray;
  }

  .navControls {
    .containerButton {
      height: 64px;
      display: flex;
      gap: 10px;

      @media (max-width: 640px) {
        display: none;
      }
    }
    .containerButtonSticky {
      height: 48px;

      .arrowLeft,
      .arrowRight {
        width: 48px;
        height: 48px;
        @media (max-width: 1024px) {
          display: none;
        }
        .icon {
          width: 10px;
          height: 12px;
        }
      }
    }
    .arrowLeft,
    .arrowRight {
      background: unset;
      padding: 10px;
      cursor: pointer;
      border: 1px solid #3232321A;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      @media (max-width: 640px) {
        display: none;
      }
      &:hover:not(:disabled) {
        border: 0;
        background-color: $main-blue;
      }

      .icon {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 12px;
        height: 16px;
        @media (max-width: 640px) {
          width: 10px;
          height: 12px;
        }
      }
    }
    .arrowLeft {
      .icon {
        background-image: url("/images/icons/arrow-left-filled.svg");
      }
      &:hover:not(:disabled) {
        .icon {
          background-image: url("/images/icons/arrow-left-white.svg");
        }
      }
    }
    .arrowRight {
      .icon {
        background-image: url("/images/icons/arrow-rightfilled.svg");
      }
      &:hover:not(:disabled) {
        .icon {
          background-image: url("/images/icons/arrow-right-white.svg");
        }
      }
    }
  }
}
.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px; 
  font-size: 24px;
  color: $dark-gray;
  text-align: center;
  padding: 20px;
}