@import "/styles/variables";

.header {
    z-index: 1001;
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    @media (max-width: 1600px) {
        height: 135px;
    }
    @media (max-width: 1024px) {
        height: 124px;
    }
    @media (max-width: 640px) {
        height: 72px;
    }
}

.scrolled {
  .container {
    padding-top: 0;
    box-shadow: 0 3px 40px 0 #0000001A;
    @media (max-width: 1024px) {
      height: 104px;
    }
    @media (max-width: 640px) {
      height: 62px;
    }
  }
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    padding: 20px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $background;
    transition: all 0.3s ease;
    gap: 16px;

    @media (max-width: 1600px) {
        padding: 25px 30px 0 30px;
    }

    @media (max-width: 1024px) {
        height: 124px;
        padding: 20px 20px 0 20px;
    }

    @media (max-width: 640px) {
        height: 72px;
        padding: 10px;
    }

    .hiddenElement {
        @media (max-width: 1024px) {
            opacity: 0;
            visibility: hidden;
            cursor: unset;
            pointer-events: none;
            transition: all 0.3s ease;
        }
    }

    .headerBody {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 5px;
        height: 66px;
        @media (max-width: 1024px) {
            gap: 6px;
        }
        @media (max-width: 640px) {
            height: 52px;
            gap: 16px;
        }

        .logoContainer {
            width: 200px;
            min-width: 200px;
            @media (max-width: 640px) {
                order: 1;
                width: 165px;
                min-width: 165px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        .catalogButton {
            width: 185px;
            min-width: 185px;
            @media (max-width: 640px) {
                display: none;
            }
        }

        .downloadButton {
            width: 61px;
            @media (max-width: 730px) {
                display: none;
            }
        }

        .contactUsButtons {
            width: 262px;
            max-width: 262px;
            @media (max-width: 1024px) {
                width: unset;
            }
            @media (max-width: 640px) {
                order: 2;
                width: 100%;
                min-width: 52px;
                max-width: unset;
            }
            @media (max-width: 440px) {
                width: unset;
            }
        }

        .mobileMenu {
            display: none;
            width: 100%;
            transition: all 0.3s ease;

            @media (max-width: 1024px) {
                display: block;
            }
            @media (max-width: 640px) {
                order: 3;
                max-width: 190px;
            }

            .dropdownMenu {
                opacity: 0;
                visibility: hidden;
                transition: visibility 0.5s linear, opacity 0.5s cubic-bezier(0.5, 0.12, 0.46, 0.88);
                position: absolute;
                z-index: 1001;
                top: 124px;
                width: 100%;
                left: 0;

                @media (max-width: 640px) {
                    top: 72px;
                }

                &.active {
                    opacity: 1;
                    visibility: visible;
                }

                &.scrolledDropdownMenu {
                    top: 104px;
                    @media (max-width: 640px) {
                        top: 62px;
                    }
                }
            }

        }
    }

    .locationWithIcons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .floatingIcons {}

    .location {
        @media (max-width: 640px) {
            display: none;
        }
    }

    .catalogPopup {
        opacity: 0;
        visibility: hidden;
        transition: top 0.3s linear,
                    visibility 0.5s linear,
                    opacity 0.5s cubic-bezier(0.5, 0.12, 0.46, 0.88);
        position: absolute;
        z-index: 1001;
        top: 96px;
        width: 100%;
        left: 0;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &.activeScrolled {
            top: 76px;
        }
    }

    .closeArea {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        width: 100%;
        min-height: 100vh;
        height: 100%;
    }
}

.whiteContainer {
    @media (max-width: 1024px) {
        background-color: $white;
    }
}