@import "/styles/variables";

.container {
  padding: 30px 30px 40px 30px;
  @media (max-width: 1600px) {
    padding: 30px;
  }
  @media (max-width: 1024px) {
    padding: 33px 20px 52px 20px;
  }
  @media (max-width: 640px) {
    padding: 18px 10px 20px 10px;
  }
  background-color: $white;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }

    .title {
      font-family: "DIN Pro сondensedblack", sans-serif;
      font-size: 90px;
      line-height: 90px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $dark-gray;
      @media (max-width: 1600px) {
        font-size: 64px;
        line-height: 64px;
      }
      @media (max-width: 1024px) {
        font-size: 56px;
        line-height: 61px;
      }
      @media (max-width: 640px) {
        font-size: 32px;
        line-height: 35px;
      }
    }
    .category {
      padding: 19px 25px;
      background-color: #0149bf0d;
      border-radius: 8px;
      text-transform: uppercase;
      font-family: "DIN Pro сondensedblack", sans-serif;
      color: #103a7e99;
      font-size: 20px;
      line-height: 20px;
      height: max-content;
      width: max-content;
      @media (max-width: 1024px) {
        margin-bottom: 32px;
      }
      @media (max-width: 640px) {
        font-size: 16px;
        line-height: 16px;
        padding: 18px 12px;
        margin-bottom: 16px;
      }
    }
  }

  .description {
    margin-top: 32px;
    margin-bottom: 64px;
    max-width: 945px;
    letter-spacing: -0.02em;
    font-family: "DIN Pro", sans-serif;
    color: $dark-gray;
    @each $property, $value in $b24-medium {
      #{$property}: #{$value};
    }
    @media (max-width: 1600px) {
      font-size: 20px;
      line-height: 28px;
      max-width: 1134px;
    }
    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 31px;
      max-width: unset;
      margin-bottom: 40px;
    }
    @media (max-width: 640px) {
      font-size: 18px;
      line-height: 27px;
      margin-top: 16px;
      margin-bottom: 24px;
    }
  }

  .crpAutomation {
    display: flex;
    gap: 10px;
    background-color: $white;
    margin-bottom: 64px;
    width: 100%;
    @media (max-width: 1600px) {
      margin-bottom: 40px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 24px;
      flex-direction: column;
      gap: unset;
    }
    @media (max-width: 640px) {
      margin-bottom: 16px;
    }
    .leftColumn {
      width: 100%;
      max-width: 512px;
      display: flex;
      position: relative;
      @media (max-width: 1600px) {
        max-width: 337px;
      }
      @media (max-width: 1024px) {
        display: none;
      }
      .image {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .centerBlock {
    width: 100%;
    max-width: 871px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (max-width: 1600px) {
      width: 100%;
      max-width: 845px;
    }
    @media (max-width: 1024px) {
      max-width: unset;
      height: auto;
      aspect-ratio: 1.9319;
    }
    @media (max-width:640px) {
      height: 237px;
    }
    .videoWrapper {
      position: relative;
      width: 100%;
      border-radius: 10px;
      height: 100%;
      background-color: #000;
      overflow: hidden;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }
      .playIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 457px;
    @media (max-width: 1600px) {
      max-width: 337px;
      gap: 7px;
    }
    @media (max-width: 1024px) {
      width: 100%;
      max-width: unset;
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .feature {
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 35px;
    padding: 24px 29px;
    border: 1px solid #c6dff5b2;
    @media (max-width: 1600px) {
      gap: 25px;
      padding: 20px 18px;
    }
    @media (max-width: 1024px) {
      gap: 38px;
      justify-content: center;
      padding: 27px 24px;
    }
    @media (max-width: 740px) {
      gap: 20px;
    }
    @media (max-width: 640px) {
      justify-content: unset;
      gap: 20px;
      padding: 20px;
    }
    .featureDescription {
      letter-spacing: -0.02em;
      font-family: "DIN Pro medium", sans-serif;
      color: $dark-gray;
      @each $property, $value in $b18-medium {
        #{$property}: #{$value};
      }
      @media (max-width: 1600px) {
        font-size: 14px;
        line-height: 18px;
      }
      @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 21px;
      }
      @media (max-width: 640px) {
        font-size: 14px;
        line-height: 18px;
      }
    }

    .imgContainer {
      overflow: hidden;
      min-width: 86px;
      height: 86px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 100px;
      border: 1.396px solid #C6DFF5B2;
      @media (max-width: 1600px) {
        min-width: 64px;
        height: 64px;
      }
      @media (max-width: 1024px) {
        min-width: 86px;
        height: 86px;
      }
      @media (max-width: 640px) {
        min-width: 70px;
        height: 70px;
      }
      
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background: $main-blue;
        border: 2px solid transparent;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 1s ease, height 1s ease, border-color 1s ease;
        z-index: 0; 
      }
      
      img {
        width: 38px;
        height: 38px;
        position: relative;
        z-index: 1; 
      }
    }

    &:hover .imgContainer::before {
      width: 150%;
      height: 150%;
      border-color: $main-blue;
    }
  }

  .ctaButton {
    transition: background-color 0.3s;
    padding: 19px 95px;
    font-family: "DIN Pro condensedmedium", sans-serif;
    color: $white;
    background-color: $main-blue;
    border-radius: 7px;
    letter-spacing: -0.02em;
    border: none;
    cursor: pointer;
    @each $property, $value in $b22-medium {
      #{$property}: #{$value};
    }
    @media (max-width: 1600px) {
      padding: 19px 75px;
    }
    @media (max-width: 1024px) {
      width: 100%;
    }
    @media (max-width: 640px) {
      padding: 19px 60px;
      font-size: 18px;
      line-height: 18px;
    }

    &:hover {
      background-color: $blue-hover;
    }
  }
}
