@import '/styles/variables';

.container {
	padding: 0 30px 0 30px;

	@media (max-width: 1600px) {
		padding: 0px 30px 36px 30px;
	}
	@media (max-width: 1024px) {
		padding: 0px 20px;
	}
	@media (max-width: 640px) {
		padding: 0px 10px 24px 10px;
	}
	.categoryContainer {
		display: flex;
		flex-direction: column;
		gap: 24px;
		@media (max-width: 640px) {
			gap: 16px;
		}
	}
	.productContainer {
		.header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 24px;
			@media (max-width: 640px) {
				margin-bottom: 16px;
			}

			.selectViewContainer {
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: center;
				.cardView,
				.rowView {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 64px;
					height: 64px;
					position: relative;
					border-radius: 100px;
					border: 1.396px solid rgba(50, 50, 50, 0.1);
					padding: 13px;
					cursor: pointer;
					overflow: hidden;
					transition: background 0.3s ease;

					&::before {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						width: 0;
						height: 0;
						background: $main-blue;
						border-radius: 50%;
						transform: translate(-50%, -50%);
						transition: width 0.3s ease, height 0.3s ease;
						z-index: -1;
					}

					&:hover::before {
						width: 150%;
						height: 150%;
					}

					&.active {
						background: $main-blue;
						border-color: $main-blue;
					}
				}
				@media (max-width: 1600px) {
					display: none;
				}
			}
		}
		.selectedFillterContainer {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			margin-bottom: 40px;
			@media (max-width: 1024px) {
				margin-bottom: 55px;
			}

			.filterButton {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.active {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 30px;
				padding: 9px 16px;
				background-color: $white;
				color: $main-blue;
				border: 1px solid $main-blue;
				color: $main-blue;
				cursor: default;
				border-radius: 7px;
				transition: background-color 0.2s;
				font-family: 'DIN Pro medium', sans-serif;
				@each $property, $value in $b18-medium {
					#{$property}: #{$value};
				}
				img {
					cursor: pointer;
				}
			}

			.default {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 30px;
				padding: 9px 16px;
				border: none;
				border-radius: 7px;
				background: rgba(50, 50, 50, 0.1);
				cursor: default;
				transition: background-color 0.2s;
				font-family: 'DIN Pro medium', sans-serif;
				@each $property, $value in $b18-medium {
					#{$property}: #{$value};
				}
				img {
					cursor: pointer;
				}
			}
		}
		.selectedFilterSwiperContainer {
			display: none;
		}

		@media (max-width: 640px) {
			.selectedFillterContainer {
				display: none;
			}
			.selectedFilterSwiperContainer {
				display: block;
				width: 100%;
				margin-bottom: 32px;
				.swiperSlide {
					width: auto !important;
					.active {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 30px;
						padding: 9px 16px;
						background-color: $white;
						color: $main-blue;
						border: 1px solid $main-blue;
						color: $main-blue;
						cursor: default;
						border-radius: 7px;
						transition: background-color 0.2s;
						font-family: 'DIN Pro medium', sans-serif;
						@each $property, $value in $b18-medium {
							#{$property}: #{$value};
						}
						img {
							cursor: pointer;
						}
					}

					.default {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 30px;
						padding: 9px 16px;
						border: none;
						border-radius: 7px;
						background: rgba(50, 50, 50, 0.1);
						cursor: default;
						transition: background-color 0.2s;
						font-family: 'DIN Pro medium', sans-serif;
						@each $property, $value in $b18-medium {
							#{$property}: #{$value};
						}
						img {
							cursor: pointer;
						}
					}
				}
			}
		}

		.productContainer {
			display: flex;
			gap: 20px;
			width: 100%;
			.filterContainer {
				width: 25%;
				margin-bottom: 140px;
			}
			.productContainerInner {
				width: 75%;
				display: flex;
				flex-direction: column;
				max-width: 100%;
				gap: 64px;
				.products {
					width: 100%;
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 20px;

					// @media (max-width: 1024px) {
					// 	grid-template-columns: repeat(2, 1fr);
					// }

					// @media (max-width: 640px) {
					// 	grid-template-columns: repeat(1, 1fr);
					// }
					&.rowView {
						display: flex;
						flex-direction: column;
					}
					.bannerContainer {
						grid-column: 1 / -1;
						width: 100%;
						margin: 20px 0;
					}
				}
				.addInfoContainer {
					display: flex;
					flex-direction: column;
					gap: 55px;
					padding-bottom: 140px;
					.addInfo {
						font-family: 'Din Pro', sans-serif;
						font-size: 24px;
						line-height: 31.2px;
						letter-spacing: -0.02em;
						color: #323232;
					}
					.addInfoList {
						font-family: 'Din Pro', sans-serif;
						font-size: 24px;
						line-height: 31.2px;
						letter-spacing: -0.02em;
						color: #323232;
						ul {
							list-style-type: none;
							padding-left: 0;
							li {
								position: relative;
								padding-left: 25px;
								margin-bottom: 14px;
								&::before {
									content: '•';
									position: absolute;
									left: 0;
									color: #000;
									font-size: 16px;
								}
							}
						}
					}
					.addInfoСonclusion {
						font-family: 'Din Pro Medium', sans-serif;
						font-size: 24px;
						line-height: 31.2px;
						letter-spacing: -0.02em;
						color: #323232;
						padding-left: 37px;
						font-weight: bold;
						color: #2e363d;
						border-left: 1px #004985 solid;
					}
				}
			}
		}
	}
}

@media (max-width: 1600px) {
	.container {
		padding: 0 30px 0px 30px;
		.categoryContainer {
			gap: 24px;
		}
		.productContainer {
			.header {
				display: flex;
				justify-content: space-between;
				margin-bottom: 24px;
				.selectViewContainer {
					display: none;
				}
			}
			.selectedFillterContainer {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				margin-bottom: 40px;
				.filterButton {
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.active {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 30px;
					padding: 9px 16px;
					background-color: $white;
					color: $main-blue;
					border: 1px solid $main-blue;
					color: $main-blue;
					cursor: default;
					border-radius: 7px;
					transition: background-color 0.2s;
					font-family: 'DIN Pro medium', sans-serif;
					@each $property, $value in $b18-medium {
						#{$property}: #{$value};
					}
					img {
						cursor: pointer;
					}
				}

				.default {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 30px;
					padding: 9px 16px;
					border: none;
					border-radius: 7px;
					background: rgba(50, 50, 50, 0.1);
					cursor: default;
					transition: background-color 0.2s;
					font-family: 'DIN Pro medium', sans-serif;
					@each $property, $value in $b18-medium {
						#{$property}: #{$value};
					}
					img {
						cursor: pointer;
					}
				}
			}
			.selectedFilterSwiperContainer {
				display: none;
			}

			@media (max-width: 640px) {
				.selectedFillterContainer {
					display: none;
				}
				.selectedFilterSwiperContainer {
					display: block;
					width: 100%;
					margin-bottom: 32px;
					.swiperSlide {
						width: auto !important;
						.active {
							display: flex;
							align-items: center;
							justify-content: center;
							gap: 30px;
							padding: 9px 16px;
							background-color: $white;
							color: $main-blue;
							border: 1px solid $main-blue;
							color: $main-blue;
							cursor: default;
							border-radius: 7px;
							transition: background-color 0.2s;
							font-family: 'DIN Pro medium', sans-serif;
							@each $property, $value in $b18-medium {
								#{$property}: #{$value};
							}
							img {
								cursor: pointer;
							}
						}

						.default {
							display: flex;
							align-items: center;
							justify-content: center;
							gap: 30px;
							padding: 9px 16px;
							border: none;
							border-radius: 7px;
							background: rgba(50, 50, 50, 0.1);
							cursor: default;
							transition: background-color 0.2s;
							font-family: 'DIN Pro medium', sans-serif;
							@each $property, $value in $b18-medium {
								#{$property}: #{$value};
							}
							img {
								cursor: pointer;
							}
						}
					}
				}
			}

			.productContainer {
				display: flex;
				gap: 10px;
				width: 100%;
				.filterContainer {
					width: 25%;
					margin-bottom: 100px;
				}
				.productContainerInner {
					display: flex;
					flex-direction: column;
					gap: 64px;
					.products {
						width: 100%;
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						gap: 10px;

						// @media (max-width: 1024px) {
						// 	grid-template-columns: repeat(2, 1fr);
						// }

						// @media (max-width: 640px) {
						// 	grid-template-columns: repeat(1, 1fr);
						// }
						.bannerContainer {
							grid-column: 1 / -1;
							width: 100%;
							margin: 20px 0;
						}
					}
					.addInfoContainer {
						display: flex;
						flex-direction: column;
						gap: 55px;
						padding-bottom: 140px;
						.addInfo {
							font-family: 'Din Pro', sans-serif;
							font-size: 18px;
							line-height: 31.2px;
							letter-spacing: -0.02em;
							color: #323232;
						}
						.addInfoList {
							font-family: 'Din Pro', sans-serif;
							font-size: 18px;
							line-height: 31.2px;
							letter-spacing: -0.02em;
							color: #323232;
							ul {
								list-style-type: none;
								padding-left: 0;
								li {
									position: relative;
									padding-left: 25px;
									margin-bottom: 14px;
									&::before {
										content: '•';
										position: absolute;
										left: 0;
										color: #000;
										font-size: 16px;
									}
								}
							}
						}
						.addInfoСonclusion {
							font-family: 'Din Pro Medium', sans-serif;
							font-size: 18px;
							line-height: 31.2px;
							letter-spacing: -0.02em;
							color: #323232;
							padding-left: 37px;
							font-weight: bold;
							color: #2e363d;
							border-left: 1px #004985 solid;
						}
					}
				}
				@media (max-width: 1200px) {
					.filterContainer {
						width: 33%;
					}
					.productContainerInner {
						.products {
							grid-template-columns: repeat(2, 1fr);
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.container {
		padding: 0 20px 40px 20px;
		.categoryContainer {
			display: flex;
			flex-direction: column;
			gap: 24px;
			@media (max-width: 640px) {
				gap: 16px;
			}
		}
		.productContainer {
			.header {
				display: flex;
				justify-content: space-between;
				margin-bottom: 24px;
				h3 {
					font-size: 48px;
					line-height: 52.8px;
					letter-spacing: -0.02em;
					color: #323232;
				}
				.selectViewContainer {
					display: none;
				}
			}
			.selectedFillterContainer {
				display: none;
			}
			.selectedFilterSwiperContainer {
				display: block;
				width: 100%;
				margin-bottom: 55px;
				.swiperSlide {
					width: auto !important;

					.filterButton {
						display: flex;
						justify-content: center;
						align-items: center;
						img {
							width: 100%;
							height: 100%;
						}
					}

					.active {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 30px;
						padding: 9px 16px;
						background-color: $white;
						color: $main-blue;
						border: 1px solid $main-blue;
						color: $main-blue;
						cursor: default;
						border-radius: 7px;
						transition: background-color 0.2s;
						font-family: 'DIN Pro medium', sans-serif;
						@each $property, $value in $b18-medium {
							#{$property}: #{$value};
						}
						img {
							cursor: pointer;
						}
					}

					.default {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 30px;
						padding: 9px 16px;
						border: none;
						border-radius: 7px;
						background: rgba(50, 50, 50, 0.1);
						cursor: default;
						transition: background-color 0.2s;
						font-family: 'DIN Pro medium', sans-serif;
						@each $property, $value in $b18-medium {
							#{$property}: #{$value};
						}
						img {
							cursor: pointer;
						}
					}
				}
			}

			.productContainer {
				display: flex;
				gap: 0px;
				width: 100%;
				.filterContainer {
					width: 0;
					display: flex;
					margin-bottom: unset;
				}
				.productContainerInner {
					flex: 1 1;
					display: flex;
					flex-direction: column;
					max-width: 100%;
					gap: 48px;
					.products {
						width: 100%;
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						gap: 10px;
						.bannerContainer {
							grid-column: 1 / -1;
							width: 100%;
							margin: 20px 0;
						}
					}
					.addInfoContainer {
						display: flex;
						flex-direction: column;
						gap: 55px;
						padding-top: 21px;
						padding-bottom: 72px;
						.addInfo {
							font-family: 'Din Pro', sans-serif;
							font-size: 18px;
							line-height: 31.2px;
							letter-spacing: -0.02em;
							color: #323232;
						}
						.addInfoList {
							font-family: 'Din Pro', sans-serif;
							font-size: 18px;
							line-height: 31.2px;
							letter-spacing: -0.02em;
							color: #323232;
							ul {
								list-style-type: none;
								padding-left: 0;
								li {
									position: relative;
									padding-left: 25px;
									margin-bottom: 14px;
									&::before {
										content: '•';
										position: absolute;
										left: 0;
										color: #000;
										font-size: 16px;
									}
								}
							}
						}
						.addInfoСonclusion {
							font-family: 'Din Pro Medium', sans-serif;
							font-size: 18px;
							line-height: 31.2px;
							letter-spacing: -0.02em;
							color: #323232;
							padding-left: 37px;
							font-weight: bold;
							color: #2e363d;
							border-left: 1px #004985 solid;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 640px) {
	.container {
		padding: 0 10px 0px 10px;
		.categoryContainer {
			display: flex;
			flex-direction: column;
			gap: 16px;
			h3 {
				color: #323232;
				font-size: 32px;
				line-height: 35.2px;
				letter-spacing: -0.02em;
			}
		}
		.productContainer {
			.header {
				display: flex;
				justify-content: space-between;
				margin-bottom: 16px;
				h3 {
					color: #323232;
					font-size: 32px;
					line-height: 35.2px;
					letter-spacing: -0.02em;
				}

				.selectViewContainer {
					display: flex;
					gap: 10px;
					align-items: center;
					justify-content: center;
					.cardView,
					.rowView {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 64px;
						height: 64px;
						position: relative;
						border-radius: 100px;
						border: 1.396px solid rgba(50, 50, 50, 0.1);
						padding: 13px;
						cursor: pointer;
						overflow: hidden;
						transition: background 0.3s ease;

						&::before {
							content: '';
							position: absolute;
							top: 50%;
							left: 50%;
							width: 0;
							height: 0;
							background: $main-blue;
							border-radius: 50%;
							transform: translate(-50%, -50%);
							transition: width 0.3s ease, height 0.3s ease;
							z-index: -1;
						}

						&:hover::before {
							width: 150%;
							height: 150%;
						}

						&.active {
							background: $main-blue;
							border-color: $main-blue;
						}
					}
					@media (max-width: 1600px) {
						display: none;
					}
				}
			}
			.selectedFillterContainer {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				margin-bottom: 40px;
				@media (max-width: 1024px) {
					margin-bottom: 55px;
				}

				.filterButton {
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.active {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 30px;
					padding: 9px 16px;
					background-color: $white;
					color: $main-blue;
					border: 1px solid $main-blue;
					color: $main-blue;
					cursor: default;
					border-radius: 7px;
					transition: background-color 0.2s;
					font-family: 'DIN Pro medium', sans-serif;
					@each $property, $value in $b18-medium {
						#{$property}: #{$value};
					}
					img {
						cursor: pointer;
					}
				}

				.default {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 30px;
					padding: 9px 16px;
					border: none;
					border-radius: 7px;
					background: rgba(50, 50, 50, 0.1);
					cursor: default;
					transition: background-color 0.2s;
					font-family: 'DIN Pro medium', sans-serif;
					@each $property, $value in $b18-medium {
						#{$property}: #{$value};
					}
					img {
						cursor: pointer;
					}
				}
			}
			.selectedFilterSwiperContainer {
				display: none;
			}

			@media (max-width: 640px) {
				.selectedFillterContainer {
					display: none;
				}
				.selectedFilterSwiperContainer {
					display: block;
					width: 100%;
					margin-bottom: 32px;
					.swiperSlide {
						width: auto !important;
						.active {
							display: flex;
							align-items: center;
							justify-content: center;
							gap: 30px;
							padding: 9px 16px;
							background-color: $white;
							color: $main-blue;
							border: 1px solid $main-blue;
							color: $main-blue;
							cursor: default;
							border-radius: 7px;
							transition: background-color 0.2s;
							font-family: 'DIN Pro medium', sans-serif;
							@each $property, $value in $b18-medium {
								#{$property}: #{$value};
							}
							img {
								cursor: pointer;
							}
						}

						.default {
							display: flex;
							align-items: center;
							justify-content: center;
							gap: 30px;
							padding: 9px 16px;
							border: none;
							border-radius: 7px;
							background: rgba(50, 50, 50, 0.1);
							cursor: default;
							transition: background-color 0.2s;
							font-family: 'DIN Pro medium', sans-serif;
							@each $property, $value in $b18-medium {
								#{$property}: #{$value};
							}
							img {
								cursor: pointer;
							}
						}
					}
				}
			}
			.productContainer {
				display: flex;
				gap: 0px;
				width: 100%;
				.filterContainer {
					width: 0;
					display: flex;
				}
				.productContainerInner {
					display: flex;
					flex-direction: column;
					max-width: 100%;
					gap: 24px;
					.products {
						width: 100%;
						display: grid;
						grid-template-columns: repeat(1, 1fr);
						gap: 10px;
						.bannerContainer {
							grid-column: 1 / -1;
							width: 100%;
							margin: 20px 0;
						}
					}
					.addInfoContainer {
						display: flex;
						flex-direction: column;
						gap: 32px;
						padding-bottom: 64px;
						.addInfo {
							font-family: 'Din Pro', sans-serif;
							font-size: 16px;
							line-height: 19.2px;
							letter-spacing: -0.02em;
							color: #323232;
						}
						.addInfoList {
							font-family: 'Din Pro', sans-serif;
							font-size: 16px;
							line-height: 19.2px;
							letter-spacing: -0.02em;
							color: #323232;
							ul {
								list-style-type: none;
								padding-left: 0;
								li {
									position: relative;
									padding-left: 25px;
									margin-bottom: 14px;
									&::before {
										content: '•';
										position: absolute;
										left: 0;
										color: #000;
										font-size: 16px;
									}
								}
							}
						}
						.addInfoСonclusion {
							font-family: 'Din Pro Medium', sans-serif;
							font-size: 18px;
							line-height: 21.6px;
							letter-spacing: -0.02em;
							color: #323232;
							padding-left: 37px;
							font-weight: bold;
							color: #2e363d;
							border-left: 1px #004985 solid;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 640px) {
	.selectedFillterContainer {
		display: none;
	}
	.selectedFilterSwiperContainer {
		display: block;
		width: 100%;
		margin-bottom: 32px;
		.swiperSlide {
			width: auto !important;
			.active {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 30px;
				padding: 9px 16px;
				background-color: $white;
				color: $main-blue;
				border: 1px solid $main-blue;
				color: $main-blue;
				cursor: default;
				border-radius: 7px;
				transition: background-color 0.2s;
				font-family: 'DIN Pro medium', sans-serif;
				@each $property, $value in $b18-medium {
					#{$property}: #{$value};
				}
				img {
					cursor: pointer;
				}
			}

			.default {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 30px;
				padding: 9px 16px;
				border: none;
				border-radius: 7px;
				background: rgba(50, 50, 50, 0.1);
				cursor: default;
				transition: background-color 0.2s;
				font-family: 'DIN Pro medium', sans-serif;
				@each $property, $value in $b18-medium {
					#{$property}: #{$value};
				}
				img {
					cursor: pointer;
				}
			}
		}
	}
}
