@import "/styles/variables";
.iconBtn {
    background-color: unset;
    border: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
  
    img {
      width: 33px;
      height: 33px;
    }
  }