@import "/styles/variables";

.card {
  display: flex;
  align-items: center;
  background: $white;
  border-radius: 20px;

  padding: 32px 30px;
}

.cardContent {
  display: flex;
  width: 100%;
  align-items: center;

  align-items: center;
  position: relative;
   text-decoration: none;
  a {
    text-decoration: none;
  }
}

.imageWrapper {
  width: 136px;
  height: 122px;
  object-fit: contain;
  margin-right: 35px;
  .robotImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: $dark-gray;
  max-width: 414px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.56px;
  margin-right: 57px;
}

.specsContainer {
  display: flex;
  gap: 20px;
  margin-right: 144px;
}

.specsItem {
  display: flex;
  align-items: center;
  gap: 30px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  font-size: 14px;
  color: #777;
}

.value {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.iconGroup {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.iconBtn {
  background-color: unset;
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 33px;
    height: 33px;
  }
}
