@import '/styles/variables';

.card {
	display: flex;
	align-items: center;
	background: $white;
	border-radius: 20px;
	padding: 32px 30px;
	width: 100%;
}

.cardContent {
	padding-right: 144px;
	display: flex;
	width: 100%;
	align-items: center;
	position: relative;
	text-decoration: none;
	gap: 57px;
}

.titleContainer {
	flex: 1 1;
	display: flex;
	gap: 35px;
	align-items: center;
}

.imageWrapper {
	min-width: 136px;
	height: 122px;
  max-width: 136px;
  object-fit: contain;
	.robotImage {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.title {
	font-family: 'Din Pro Condensedbold';
	font-size: 28px;
	color: #323232;
	max-width: 414px;
	line-height: 33.6px;
	letter-spacing: -0.02em;
}

.specsContainer {
	flex: 1 1;
	display: flex;
	gap: 20px;
}

.specsItem {
	flex: 1 1;
	display: flex;
	align-items: center;
	gap: 30px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.text {
	font-family: 'Din Pro';
	font-size: 16px;
	line-height: 20.8px;
	letter-spacing: -0.03em;
	color: #323232;
	opacity: 0.6;
}

.value {
	font-size: 18px;
	line-height: 21.6px;
	letter-spacing: -0.01em;
	color: #323232;
}

.iconGroup {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.iconBtn {
	background-color: unset;
	border: none;
	border-radius: 50%;
	width: 33px;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	img {
		width: 33px;
		height: 33px;
	}
}
