@import "/styles/variables";

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 9px;

    .imageContainer {
        opacity: 0.6;
        width: 21px;
        height: 21px;
    }
}

.textContainer {
    opacity: 0.6;
    text-decoration: none;
    font-family: "DIN Pro medium", sans-serif;
    color: $dark-gray;
    letter-spacing: -0.03em;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.34px;
}