@import '/styles/variables';

.container {
	padding: 64px 30px 30px 30px;
	@media (max-width: 1600px) {
		padding: 48px 30px 14px 30px;
	}
	@media (max-width: 1024px) {
		padding: 64px 20px 30px 20px;
	}
	@media (max-width: 640px) {
		padding: 40px 10px 35px 10px;
	}
	.tagsContainer {
		display: flex;
		justify-content: space-between;
		margin-bottom: 48px;
		@media (max-width: 1600px) {
			margin-bottom: 32px;
		}
		@media (max-width: 640px) {
			margin-bottom: 28px;
		}
		.pdfButton {
			width: 166px;
			@media (max-width: 1024px) {
				display: none;
			}
		}
	}
	.sliderWrapper {
		width: 100%;
		overflow: hidden;
		position: relative;
		margin-bottom: 48px;
		@media (max-width: 1600px) {
			margin-bottom: 24px;
		}
		@media (max-width: 640px) {
			width: 100vw;
			margin: 0 -10px;
		}
	}
	.slider {
		display: flex;
		transition: transform 0.5s ease;
		gap: 20px;
	}
	.footer {
		display: flex;
		justify-content: flex-end;
		@media (max-width: 1024px) {
			justify-content: flex-start;
		}
		@media (max-width: 640px) {
			margin-top: 24px;
			justify-content: flex-start;
		}
		.prevButton,
		.nextButton {
			z-index: 10;
			background: none;
			border: none;
			cursor: pointer;

			img {
				width: 48px;
				height: 48px;
			}
		}
		.nextButton {
			margin-left: 10px;
		}
	}
}


