@import "/styles/variables";
.iconBtn {
    background-color: $white;
    border: 1px solid #3232321A;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 
  
    img {
      width: 33px;
      height: 33px;
    }
  }