@import "/styles/variables";

.container {
    max-width: 1860px;
    margin: 0 auto;
    width: calc(100% - 60px);
    background-color: $white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 3px 40px 0 #0000001A;

    @media (max-width: 1600px) {
        width: calc(100% - 60px);
    }

    @media (max-width: 1024px) {
        width: 100vw;
        border-radius: 0;
        gap: 10px;
        height: calc(100vh - 96px);
        justify-content: flex-start;
    }

    .catalogBox {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}

.buttonsContainer {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow-y: auto;
    height: 516px;
    @media (max-width: 1600px) {
        height: 404px;
    }
    @media (max-width: 1024px) {
        width: 100%;
        gap: 10px;
        height: calc(100vh - 246px);
    }

    .buttonContainer {
        text-decoration: none;
        width: 100%;
        height: 114px;
        border-radius: 10px;
        background-color: $white;
        border: 1px solid $blue-light;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1600px) {
            height: 86px;
        }
        @media (max-width: 1024px) {
            height: 100px;
        }

        .link {
            text-align: center;
            font-family: "DIN Pro condensedbold", sans-serif;
            color: $dark-gray;
            letter-spacing: -0.02em;
            @each $property, $value in $b28-bold {
                #{$property}: #{$value};
            }
            @media (max-width: 1600px) {
                @each $property, $value in $b22-medium {
                    #{$property}: #{$value};
                }
            }
        }

        &:hover {
            border: 1px solid $main-blue;
            .link {
                color: $main-blue;
            }
        }
    }
}

.imageContainer {
    width: 50%;
    height: 516px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 1600px) {
        height: 404px;
    }

    @media (max-width: 1024px) {
        display: none;
    }

    img {
        position: absolute;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}