@import '/styles/variables';

.modalOverlay {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: end;
	justify-content: center;
	z-index: 9999;

	overflow-y: auto;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	.modalContent {
		background: white;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		border-radius: 20px;
		position: relative;
		z-index: 8999;
		overflow: hidden;
		.modalHeader {
			position: sticky;
			top: 0;
			z-index: 1;
			background-color: $white;
			padding: 20px 20px 28px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			h3 {
				font-family: 'Din Pro Condensedbold', sans-serif;
				font-size: 24px;
				line-height: 26.4px;
				letter-spacing: -0.02em;
			}
			.closeBtn {
				background: transparent;
				border: 1px $blue-light solid;
				border-radius: 7px;
				cursor: pointer;
				padding: 10px;
				font-size: 20px;
				img {
					width: 24px;
					height: 24px;
					display: flex;
				}
				@media (max-width: 640px) {
					top: 20px;
					right: 20px;
					padding: 12px;
				}
			}
		}
		.modalBody {
			flex: 1;
			overflow: auto;
		}

		.modalFooter {
			position: sticky;
			bottom: 0;
			z-index: 1;
			background-color: $white;
			display: flex;
			flex-direction: column;
			gap: 24px;
			width: 100%;
			padding: 20px;
			box-shadow: 0px -3px 15px #00000033;
			.category {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				.active {
					display: flex;
					align-items: center;
					gap: 30px;
					padding: 9px 16px;
					background-color: $white;
					color: $main-blue;
					border: 1px solid $main-blue;
					border-radius: 7px;
					cursor: default;
					transition: background-color 0.2s;
					font-family: 'DIN Pro medium', sans-serif;
					@each $property, $value in $b18-medium {
						#{$property}: #{$value};
					}
					img {
						cursor: pointer;
					}
				}
				.default {
					display: flex;
					align-items: center;
					gap: 30px;
					padding: 9px 16px;
					border: none;
					border-radius: 7px;
					background: rgba(50, 50, 50, 0.1);
					cursor: default;
					transition: background-color 0.2s;
					font-family: 'DIN Pro medium', sans-serif;
					@each $property, $value in $b18-medium {
						#{$property}: #{$value};
					}
					img {
						cursor: pointer;
					}
				}
			}
      .selectedFilterSwiperContainer{
        display: none;
      }
			.applyButton {
				width: max-content;
				background-color: $main-blue;
				color: $white;
				border: none;
				border-radius: 7px;
				cursor: pointer;
				padding: 15px 130px;
				font-family: 'DIN Pro condensedbold', sans-serif;
				font-style: normal;
				font-size: 18px;
				line-height: 100%;
				letter-spacing: -0.36px;
				&:hover {
					background-color: $blue-hover;
				}
			}
		}
	}
}

@media (max-width: 640px) {
	.modalOverlay {
		.modalContent {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 96%;
			border-radius: 20px;
			position: relative;
			z-index: 8999;
			overflow: hidden;
			.modalHeader {
				position: sticky;
				top: 0;
				z-index: 1;
				background-color: $white;
				padding: 20px 20px 28px 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				h3 {
					font-family: 'Din Pro Condensedbold', sans-serif;
					font-size: 24px;
					line-height: 26.4px;
					letter-spacing: -0.02em;
				}
				.closeBtn {
					background: transparent;
					border: 1px $blue-light solid;
					border-radius: 7px;
					cursor: pointer;
					padding: 10px;
					font-size: 20px;
					img {
						width: 24px;
						height: 24px;
						display: flex;
					}
					@media (max-width: 640px) {
						top: 20px;
						right: 20px;
						padding: 12px;
					}
				}
			}
			.modalBody {
				flex: 1;
				overflow: auto;
			}

			.modalFooter {
				position: sticky;
				bottom: 0;
				z-index: 1;
				background-color: $white;
				display: flex;
				flex-direction: column;
				gap: 24px;
				width: 100%;
				padding: 20px;
				box-shadow: 0px -3px 15px #00000033;
				.category {
					display: none;
				}
        .selectedFilterSwiperContainer{
          display: block;
          width: 100%;
          .swiperSlide{
            width: auto !important;
            .active {
              height: 40px;
              display: flex;
              align-items: center;
              gap: 30px;
              padding: 9px 16px;
              background-color: $white;
              color: $main-blue;
              border: 1px solid $main-blue;
              border-radius: 7px;
              cursor: default;
              transition: background-color 0.2s;
              font-family: 'DIN Pro medium', sans-serif;
              @each $property, $value in $b18-medium {
                #{$property}: #{$value};
              }
              img {
                cursor: pointer;
              }
            }
            .default {
              height: 40px;
              display: flex;
              align-items: center;
              gap: 30px;
              padding: 9px 16px;
              border: none;
              border-radius: 7px;
              background: rgba(50, 50, 50, 0.1);
              cursor: default;
              transition: background-color 0.2s;
              font-family: 'DIN Pro medium', sans-serif;
              @each $property, $value in $b18-medium {
                #{$property}: #{$value};
              }
              img {
                cursor: pointer;
              }
            }
          }
        }
				.applyButton {
					width: 100%;
					background-color: $main-blue;
					color: $white;
					border: none;
					border-radius: 7px;
					cursor: pointer;
					padding: 15px 130px;
					font-family: 'DIN Pro condensedbold', sans-serif;
					font-style: normal;
					font-size: 18px;
					line-height: 100%;
					letter-spacing: -0.02em;
					&:hover {
						background-color: $blue-hover;
					}
				}
			}
		}
	}
}
