@import '/styles/variables';
.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
	width: 100vw;
	height: 100vh;
	background-color: #00000066;
	overflow-y: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.modalContent {
	position: relative;
	background: #fff;
	padding: 20px 30px;
	border-radius: 10px;

	width: 100%;
	text-align: center;
	padding: 40px;
	max-width: 530px;
	z-index: 9999;
}

.closeBtn {
	position: absolute;
	top: 40px;
	right: 40px;
	background: transparent;
	border: none;
	font-size: 20px;
	cursor: pointer;
	padding: 20px;
	border: 1px $blue-light solid;
	border-radius: 7px;
	display: flex;
	@media (max-width: 640px) {
		top: 20px;
		right: 20px;
		padding: 12px;
	}
}
.message {
	font-family: 'DIN Pro сondensedblack', sans-serif;
	font-size: 32px;
	line-height: 35.2px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	margin-bottom: 55px;
	text-align: left;
	max-width: 320px;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 100%;
}

.confirmButton,
.cancelButton {
	padding: 10px 20px;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	font-size: 16px;
	width: 50%;
	font-family: 'DIN Pro medium', sans-serif;
	@each $property, $value in $b18-medium {
		#{$property}: #{$value};
	}
}

.confirmButton {
	background-color: $white;
	border: 1px solid #0149bf;
	color: $main-blue;
}

.cancelButton {
	background-color: $main-blue;
	color: $white;
}
