@import "/styles/variables";

.tableWrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
  padding: 15px;
  @media (max-width: 640px) {
    padding: 15px 0px 15px 15px;
  }
}

.techTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.techTable tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.techTable td {
  padding: 32px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "DIN Pro medium", sans-serif;
  vertical-align: top;
  
  @each $property, $value in $b24-medium {
    #{$property}: #{$value};
  }
  
  @media (max-width: 1600px) {
    font-size: 20px;
  }
  
  @media (max-width: 1024px) {
    padding: 24px;
    font-size: 24px;
  }
  
  @media (max-width: 640px) {
    font-size: 16px;
    white-space: nowrap; // предотвращаем перенос текста в ячейках на мобильном
  }
}

.fieldLabel {
  min-width: 200px;
}

.cellContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px;
  
  @media (max-width: 1024px) {
    gap: 28px;
  }
  
  @media (max-width: 640px) {
    gap: 16px;
    white-space: nowrap; 
  }
}

.grayText {
  display: block;
  font-family: "DIN Pro medium", sans-serif;
  color: #32323280;
  margin-bottom: 28px;
  
  @each $property, $value in $b24-medium {
    #{$property}: #{$value};
  }
  
  @media (max-width: 640px) {
    font-size: 18px;
    white-space: nowrap; 
  }
}

.valueText {
  display: block;
  font-family: "DIN Pro medium", sans-serif;
  
  @media (max-width: 640px) {
    white-space: nowrap; 
  }
}
