.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	.input {
		width: 100%;
		font-family: 'DIN Pro', sans-serif;
		padding: 23px 24px;
		border-radius: 10px;
		border: none;
		background: #fafafa;
		outline: none;

		font-size: 20px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: -0.03em;
		color: #3232324d;
		@media (max-width: 1024px) {
		}

		&::-webkit-input-placeholder {
			font-family: 'DIN Pro', sans-serif;
			font-size: 20px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: -0.03em;
			color: #3232324d;
		}
		&::-moz-placeholder {
			font-family: 'DIN Pro', sans-serif;
			font-size: 20px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: -0.03em;
			color: #3232324d;
		}
		&:-ms-input-placeholder {
			font-family: 'DIN Pro', sans-serif;
			font-size: 20px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: -0.03em;
			color: #3232324d;
		}
		&:-moz-placeholder {
			font-family: 'DIN Pro', sans-serif;
			font-size: 20px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: -0.03em;
			color: #3232324d;
		}

		&:focus {
			color: #323232;
		}
		&:not(:focus):not(:placeholder-shown) {
			color: #323232;
			opacity: 0.6;
		}
	}
	.errorInput{
		color: #ff3b30;
		border: 1px solid #ff3b30;
	}

	.errorMessage{
		color: #ff3b30;
	}
}
