@import "/styles/variables";

.card {
  flex: 0 0 24.2%;
  box-sizing: border-box;
  background: $white;
  text-align: center;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  height: 100%;
  min-height: 700px;
  transition: transform 0.3s ease;
  @media (max-width: 1600px) {
    min-height: 640px;
   
    flex: 0 0 32%;
  }

  @media (max-width: 1024px) {
    flex: 0 0 48%;
    min-height: 650px;
  }
  @media (max-width: 640px) {
    flex: 0 0 97%;
  }


}

.cardHeader {
  position: relative;
  width: 100%;
  aspect-ratio: 1/0.71;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.robotImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease;
}

.mainImage {
  opacity: 1;
}

.hoverImage {
  opacity: 0;
}

.iconGroup {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  gap: 6px;
}



.infoContainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: $dark-gray;
  position: relative;
  text-align: start;

  @media (max-width: 1600px) {
    padding: 30px;
  }

  .title {
    font-family: "DIN Pro сondensedblack", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.4px;

    @media (max-width: 1600px) {
      font-size: 22px;
      font-weight: 700;
      line-height: 26.4px;
      letter-spacing: -0.02em;
    }
  }

  .specsContainer {
    font-family: "DIN Pro medium", sans-serif;
    gap: 20px;
    display: flex;
    flex-direction: column;

    .specsItem {
      display: flex;
      gap: 30px;

      .textContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .text {
          opacity: 0.6;
          font-size: 16px;
          font-weight: 500;
          line-height: 20.8px;
        }

        .value {
          font-size: 18px;
          font-weight: 500;
          line-height: 21.6px;
          letter-spacing: -0.01em;
        }
      }
    }
  }
}

.buttonContainer {
  padding: 0px 40px;
 
  a{
    text-decoration: none;
    width: 100%;
  }
  .detailsBtn {
    display: block;
    width: 100%;
    background-color: $main-blue;
    color: $white;
    border: none;
    border-radius: 7px;
    padding: 19px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
    @each $property, $value in $b22-medium {
      #{$property}: #{$value};
    }
    @media (max-width: 640px) {
      line-height: 18px;
      font-size: 18px;
      padding: 15px;
    }

    font-family: "DIN Pro сondensedblack", sans-serif;

    &:hover {
      background-color: $blue-hover;
    }
  }
}
