@import '/styles/variables';

.card {
	display: flex;
	flex-direction: column;
	gap: 30px;
	background: $white;
	text-align: center;
	position: relative;
	border-radius: 20px;
	cursor: pointer;
	height: 100%;
	transition: transform 0.3s ease;
	.cardHeader {
		position: relative;
		width: 100%;
		height: 350px;
		display: flex;
		justify-content: center;
		align-items: end;
		.imageWrapper {
			position: relative;
			height: 270px;
			width: 270px;
			transition: all 0.5s ease;
			.robotImage {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.mainImage {
				opacity: 1;
			}
			.hoverImage {
				opacity: 0;
			}
		}
		.hoveredImageWrapper {
			width: 100%;
			height: 100%;
			.robotImage {
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				object-fit: cover;
				transition: opacity 0.5s ease;
			}
			.mainImage{
				opacity: 1;
			}
			.hoverImage {
				opacity: 0;
			}
		}
		.iconGroup {
			position: absolute;
			top: 30px;
			right: 30px;
			display: flex;
			gap: 20px;
		}
	}

	.infoContainer {
		height: max-content;
		position: relative;
		padding: 0 40px 56px 40px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		color: $dark-gray;
		text-align: start;
		.title {
			font-family: 'DIN Pro сondensedblack', sans-serif;
			font-size: 28px;
			line-height: 36.4px;
		}

		.specsContainer {
			font-family: 'DIN Pro medium', sans-serif;
			gap: 20px;
			display: flex;
			flex-direction: column;
			.specsItem {
				display: flex;
				gap: 30px;
				.textContainer {
					display: flex;
					flex-direction: column;
					gap: 10px;
					.text {
						opacity: 0.6;
						font-size: 16px;
						line-height: 20.8px;
					}
					.value {
						font-size: 18px;
						line-height: 21.6px;
						letter-spacing: -0.01em;
					}
				}
			}
		}
		.buttonContainer {
			display: none;
			background-color: #fff;
			z-index: 3;
			position: absolute;
			left: 0;
			right: 0;
			padding: 0 40px 32px 40px;
			min-height: auto;
			.detailsBtn {
				display: flex;
				justify-content: center;
				width: 100%;
				background-color: $main-blue;
				color: $white;
				border: none;
				border-radius: 10px;
				padding: 22px;
				height: 64px;
				cursor: pointer;
				transition: background-color 0.3s ease;
				font-family: 'DIN Pro сondensedblack', sans-serif;
				font-size: 20px;
				line-height: 20px;
				letter-spacing: 0;
				&:hover {
					background-color: $blue-hover;
				}
				text-decoration: none;
			}
		}
	}
}

.card:hover {
	border-radius: unset;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow:
			/* Левая сторона */ -2px 0 2px -2px rgba(0, 0, 0, 0.5),
		/* Правая сторона */ 2px 0 2px -2px rgba(0, 0, 0, 0.5);
	.buttonContainer {
		display: flex;
		bottom: -66px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		box-shadow:
				/* Left side */ -2px 0 2px -2px rgba(0, 0, 0, 0.5),
			/* Right side */ 2px 0 2px -2px rgba(0, 0, 0, 0.5),
			/* Bottom side */ 0 2px 2px -2px rgba(0, 0, 0, 0.5);
	}
}

@media (max-width: 1600px) {
	.card {
		gap: 36px;
		border-radius: 10px;
		.cardHeader {
			height: 320px;
			.imageWrapper {
				height: 220px;
				width: 220px;
				.robotImage {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: opacity 0.5s ease;
				}
				.mainImage {
					opacity: 1;
				}
				.hoverImage {
					opacity: 0;
				}
			}
			.hoveredImageWrapper {
				width: 100%;
				height: 100%;
				.robotImage {
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}
			}
			.iconGroup {
				position: absolute;
				top: 30px;
				right: 30px;
				display: flex;
				gap: 20px;
			}
		}

		.infoContainer {
			padding: 0 30px 30px 30px;
			gap: 30px;
			.title {
				font-family: 'DIN Pro сondensedblack', sans-serif;
				font-size: 22px;
				line-height: 26.4px;
				letter-spacing: -0.02em;
			}
			.specsContainer {
				.specsItem {
					.textContainer {
						.text {
							opacity: 0.6;
							font-size: 16px;
							line-height: 20.8px;
							letter-spacing: -0.03em;
						}
						.value {
							font-size: 18px;
							line-height: 21.6px;
							letter-spacing: -0.01em;
						}
					}
				}
			}
		}
	}

	.card:hover {
		border-radius: unset;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		box-shadow:
				/* Левая сторона */ -2px 0 2px -2px rgba(0, 0, 0, 0.5),
			/* Правая сторона */ 2px 0 2px -2px rgba(0, 0, 0, 0.5);
		.buttonContainer {
			display: flex;
			bottom: -94px;
			padding: 2px 30px 32px 30px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			box-shadow:
					/* Левая сторона */ -2px 0 2px -2px rgba(0, 0, 0, 0.5),
				/* Правая сторона */ 2px 0 2px -2px rgba(0, 0, 0, 0.5),
				/* Нижняя сторона */ 0 2px 2px -2px rgba(0, 0, 0, 0.5);
		}
	}
}

@media (max-width: 1024px) {
	.card {
		gap: 30px;
		border-radius: 10px;
		.cardHeader {
			height: 350px;
			.imageWrapper {
				height: 270px;
				width: 270px;
			}
			.hoveredImageWrapper {
				width: 100%;
				height: 100%;
				.robotImage {
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}
			}
		}

		.infoContainer {
			padding: 0 30px 30px 30px;
			gap: 30px;
			.title {
				font-size: 28px;
				line-height: 36.4px;
			}
			.specsContainer {
				gap: 20px;
				.specsItem {
					display: flex;
					gap: 30px;
					.textContainer {
						display: flex;
						flex-direction: column;
						gap: 10px;
						.text {
							opacity: 0.6;
							font-size: 16px;
							line-height: 20.8px;
							letter-spacing: -0.03em;
						}
						.value {
							font-size: 18px;
							line-height: 21.6px;
							letter-spacing: -0.01em;
						}
					}
				}
			}
		}
	}
	.card:hover {
		border-radius: unset;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		box-shadow:
				/* Левая сторона */ -2px 0 2px -2px rgba(0, 0, 0, 0.5),
			/* Правая сторона */ 2px 0 2px -2px rgba(0, 0, 0, 0.5);
		.buttonContainer {
			display: flex;
			bottom: -94px;
			padding: 2px 30px 32px 30px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			box-shadow:
					/* Левая сторона */ -2px 0 2px -2px rgba(0, 0, 0, 0.5),
				/* Правая сторона */ 2px 0 2px -2px rgba(0, 0, 0, 0.5),
				/* Нижняя сторона */ 0 2px 2px -2px rgba(0, 0, 0, 0.5);
		}
	}
}

@media (max-width: 640px) {
	.card:hover {
		border-radius: 7px;
	}
	.card {
		gap: 30px;
		border-radius: 7px;
		.cardHeader {
			height: 261px;
			.imageWrapper {
				height: 182px;
				width: 182px;
			}
			.hoveredImageWrapper {
				width: 100%;
				height: 100%;
				.robotImage {
					border-top-left-radius: 7px;
					border-top-right-radius: 7px;
				}
			}
			.iconGroup {
				position: absolute;
				top: 20px;
				right: 20px;
				display: flex;
				gap: 20px;
			}
		}

		.infoContainer {
			padding: 0 30px 18px 30px;
			gap: 24px;
			.title {
				font-size: 22px;
				line-height: 26.4px;
				letter-spacing: -0.02em;
			}
			.specsContainer {
				gap: 16px;
				.specsItem {
					display: flex;
					gap: 30px;
					.textContainer {
						display: flex;
						flex-direction: column;
						gap: 10px;
						.text {
							opacity: 0.6;
							font-size: 16px;
							line-height: 20.8px;
							letter-spacing: -0.03em;
						}
						.value {
							font-size: 18px;
							line-height: 21.6px;
							letter-spacing: -0.01em;
						}
					}

					img {
						width: 42px;
						height: 42px;
					}
				}
			}
		}
	}
	.card:hover {
		box-shadow: unset;
		.buttonContainer {
			display: none;
		}
	}
	// .card:hover {
	// 	border-radius: unset;
	// 	border-top-left-radius: 7px;
	// 	border-top-right-radius: 7px;
	// 	box-shadow:
	// 			/* Левая сторона */ -2px 0 2px -2px rgba(0, 0, 0, 0.5),
	// 		/* Правая сторона */ 2px 0 2px -2px rgba(0, 0, 0, 0.5);
	// 	.buttonContainer {
	// 		display: flex;
	// 		bottom: -94px;
	// 		padding: 2px 30px 32px 30px;
	// 		border-bottom-left-radius: 7px;
	// 		border-bottom-right-radius: 7px;
	// 		box-shadow:
	// 				/* Левая сторона */ -2px 0 2px -2px rgba(0, 0, 0, 0.5),
	// 			/* Правая сторона */ 2px 0 2px -2px rgba(0, 0, 0, 0.5),
	// 			/* Нижняя сторона */ 0 2px 2px -2px rgba(0, 0, 0, 0.5);
	// 	}
	// }
}

.newsCard {
	max-width: 450px;
	gap: 17px;
	aspect-ratio: 0.6923;
	@media (max-width: 1600px) {
		max-width: 338px;
		gap: 36px;
	}
	@media (max-width: 1024px) {
		max-width: 392px;
		gap: 17px;
		aspect-ratio: 0.6447;
	}
	@media (max-width: 640px) {
		max-width: 328px;
		gap: 16px;
		aspect-ratio: 0.687631;
	}
	.cardHeader {
		height: 333px;
		@media (max-width: 1600px) {
			height: 283px;
		}
		@media (max-width: 1024px) {
			height: 333px;
		}
		@media (max-width: 640px) {
			height: 245px;
		}
		.imageWrapper {
			@media (max-width: 1600px) {
				height: 220px;
				width: 220px;
			}
			@media (max-width: 1024px) {
				height: 270px;
				width: 270px
			}
			@media (max-width: 640px) {
				height: 182px;
				width: 182px
			}
		}
		.hoveredImageWrapper {
			@media (max-width: 1600px) {
				width: 100%;
				height: 100%;
			}
			.robotImage {
				@media (max-width: 1600px) {
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}
			}
		}
	}
	.infoContainer {
		height: unset;
		aspect-ratio: 1.5164;
		@media (max-width: 1600px) {
			aspect-ratio: 1.42;
			padding: 0 30px 30px 30px;
			gap: 30px;
		}
		@media (max-width: 1024px) {
			aspect-ratio: 1.46;
		}
		@media (max-width: 640px) {
			aspect-ratio: 1.51852;
			gap: 24px;
			padding: 0 30px 18px 30px;
		}
		.title {
			@media (max-width: 1600px) {
				font-size: 22px;
				line-height: 26.4px;
				letter-spacing: -0.02em;
			}
			@media (max-width: 1024px) {
				font-size: 28px;
				line-height: 36.4px;
			}
			@media (max-width: 640px) {
				font-size: 22px;
				line-height: 26.4px;
			}
		}
		.specsContainer {
			.specsItem {
				.textContainer {
					.text {
						@media (max-width: 1600px) {
							opacity: 0.6;
							font-size: 16px;
							line-height: 20.8px;
							letter-spacing: -0.03em;
						}
					}
					.value {
						@media (max-width: 1600px) {
							font-size: 18px;
							line-height: 21.6px;
							letter-spacing: -0.01em;
						}
					}
				}
			}
		}
	}

	&:hover {
		.buttonContainer {
			@media (max-width: 1600px) {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				bottom: -94px;
				padding: 2px 30px 32px 30px;
			}
			@media (max-width: 640px) {
				display: none;
			}
		}
	}
}