@import '/styles/variables';
@font-face {
	font-family: 'DIN Pro';
	src: url('/fonts/dinpro.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro сondensedblack';
	src: url('/fonts/dinpro_condensedblack.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro condensedbold';
	src: url('/fonts/dinpro_condensedbold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro condensedmedium';
	src: url('/fonts/dinpro_condensedmedium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro bold';
	src: url('/fonts/dinpro_bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro medium';
	src: url('/fonts/dinpro_medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoMono medium';
	src: url('/fonts/RobotoMono-Medium.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'DIN Pro', sans-serif;
	letter-spacing: -0.02em;
	box-sizing: border-box;
	background-color: $background;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

container {
	margin: 0 auto;
	max-width: 1920px;
	display: block;
}

h1 {
	font-family: 'DIN Pro сondensedblack', sans-serif;
	font-size: 64px;
	font-weight: 900;
	line-height: 70px;
}
h2 {
	font-family: 'DIN Pro сondensedblack', sans-serif;
	font-size: 56px;
	font-weight: 900;
	line-height: 61.6px;
}
h3 {
	font-family: 'DIN Pro сondensedblack', sans-serif;
	font-size: 48px;
	font-weight: 900;
	line-height: 52.8px;
	text-transform: uppercase;
}
h4 {
	font-family: 'DIN Pro bold', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	text-transform: uppercase;
}

.blurred {
	filter: blur(30px);
	width: 100vw;
	height: 100vh;
	transition: filter 0.3s ease;
}

.leaflet-control-attribution {
	display: none !important;
}

.custom-marker {
  padding: 13px 10px 13px 11px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  border: 1px solid #0149bf;
  border-radius: 7px;
  font-family: 'DIN Pro Medium';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #0149bf;
  white-space: nowrap;
  
  img {
    width: 12px;
    height: 15px;
  }
}

