@import "/styles/variables";

.sliderContainer {
  width: 100%;
  background-color: #c6dff533;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  @media (max-width: 1080px) {
    max-width: 600px;
  }
  @media (max-width: 1050px) {
    max-width: 575px;
  }
}

.swiperSlide {
  width: 100%;
}

.slide {
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: 100%;
  height: 531px;

  @media (max-width: 1600px) {
    height: 467px;
  }
  @media (max-width: 1024px) {
    gap: 30px;
  }
  @media (max-width: 640px) {
    height: unset;
    gap: 20px;
    flex-direction: column;
  }

  .robotInfo {
    width: 54.1768%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 0 70px 70px;

    @media (max-width: 1600px) {
      padding: 40px 0 47px 40px;
      width: 55.61614%;
    }
    @media (max-width: 1140px) {
      padding: 20px 0 27px 20px;
    }
    @media (max-width: 1024px) {
      padding: 31px 0 40px 40px;
    }
    @media (max-width: 640px) {
      width: 100%;
      order: 2;
      padding: 0 24px 40px 30px;
      justify-content: flex-start;
      gap: 24px;
    }
  }

  .imageContainer {
    position: relative;
    width: 45.8232%;
    @media (max-width: 1600px) {
      width: 44.38386%;
    }
    @media (max-width: 640px) {
      width: 100%;
      order: 1;
      min-height: 206px;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 640px) {
        object-fit: contain;
      }
    }
  }
}
.containerButton {
  @media (max-width: 640px) {
    width: 100%;
    order: 1;
  }
}

.slideContent {
  color: $dark-gray;
  @media (max-width: 640px) {
    width: 100%;
    order: 2;
  }

  .title {
    font-family: "DIN Pro medium", sans-serif;
    font-size: 28px;
    line-height: 36.4px;
    letter-spacing: -0.02em;
    margin-bottom: 52px;
    @media (max-width: 1600px) {
      font-size: 24px;
      line-height: 130%;
    }
    @media (max-width: 640px) {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }

  .description {
    font-family: "DIN Pro", sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;

    @media (max-width: 1600px) {
      font-size: 18px;
      line-height: 21.6px;
    }
    @media (max-width: 640px) {
      font-size: 16px;
      line-height: 19.2px;
    }
  }
}