@import "/styles/variables";

.container {
  padding: 30px;
  background-color: $white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  @media (max-width: 1600px) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  @media (max-width: 1024px) {
    padding: 30px 20px 20px 20px;
  }
  @media (max-width: 640px) {
    padding: 20px 10px 50px 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @media (max-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 640px) {
      display: none;
    }
  }

  .slider {
    display: none;

    @media (max-width: 640px) {
      display: block;
      position: relative;
      width: 100vw;
      margin: 0 -10px;
    }
    .prevButton,
    .nextButton {
      position: absolute;

      z-index: 10;
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 48px;
        height: 48px;
      }
    }
    .containerButton {
      margin-top: 16px;
      padding: 0 10px;
      height: 48px;
    }

    .nextButton {
      margin-left: 58px;
    }
  }
  .swiperSlide {
    width: calc(90% - 10px);
    margin-left: 10px;
    &:last-child {
      margin-right: 10px;
    }
  }

  .card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: $background;
    width: 100%;
    height: 350px;
    position: relative;
    gap: 30px;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 1600px) {
      height: 280px;
      padding: 30px 10px 30px 30px;
    }
    @media (max-width: 640px) {
      padding: 33px 20px 20px 20px;
      height: unset;
      gap: 20px;
    }

    &:hover {
      .hoverOverlay {
        opacity: 1;
      }
      .imageContainer {
        opacity: 0.7;
        @media (max-width: 640px) {
          opacity: 1;
        }
      }
    }

    .hoverOverlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      opacity: 0;
      transition: opacity 0.5s ease;

      .hoverImage {
        width: 66px;
        height: 66px;
      }
    }

    .imageContainer {
      width: 180px;
      height: 230px;
      display: flex;
      margin: 0 auto;
      position: relative;
      transition: opacity 0.5s ease;
      @media (max-width: 1600px) {
        margin: 0 auto;
      }
      @media (max-width: 640px) {
        width: 49.4%;
        aspect-ratio: 0.781;
        height: unset;
      }

      .image {
        position: absolute;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .name {
      font-family: "DIN Pro medium", sans-serif;
      color: $dark-gray;
      letter-spacing: -0.02em;
      @each $property, $value in $b24-medium {
        #{$property}: #{$value};
      }
      @media (max-width: 1600px) {
        @each $property, $value in $b20-medium {
          #{$property}: #{$value};
        }
      }
      @media (max-width: 1024px) {
        @each $property, $value in $b24-medium {
          #{$property}: #{$value};
        }
      }
      @media (max-width: 640px) {
        padding: 0;
        font-size: 18px;
        line-height: 21.6px;
      }
    }
  }
}
