@import "/styles/variables";

.sliderContainer {
    width: 100%;
    margin-top: 20px;
    background-color: #c6dff533;
    position: relative;
    max-width: 1233px;
    max-height: 531px;
    border-radius: 20px;
}

.slide {
    display: flex;
  
}

.slide img {
    object-fit: cover;
    border-bottom-right-radius: 20px ;
    border-top-right-radius: 20px ;
}

.slideContent {
    color: $dark-gray;
    padding: 70px;
    .title {

        font-family: "DIN Pro medium", sans-serif;
        font-size: 28px;
        font-weight: 500;
        line-height: 36.4px;
        letter-spacing: -0.02em;
        margin-bottom: 52px;


    }

    .description {

        font-family: "DIN Pro ", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.01em;


    }
}

.prevButton,
.nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.prevButton {
    left: 70px;
    top: -100px;
}

.nextButton {
    left: 128px;
    top: -100px;
}

.containerButton {
    position: relative;
}

.prevButton img,
.nextButton img {
    width: 48px;
    height: 48px;
}