@import "/styles/variables";

.container {
  padding: 47px 30px 40px 30px;
  @media (max-width: 1600px) {
    padding: 26px 30px 60px 30px;
  }
  @media (max-width: 1024px) {
    padding: 20px 20px 40px 20px;
  }
  @media (max-width: 640px) {
    padding: 25px 10px 30px 10px;
  }
  background-color: $white;

  .projectsContainer {
    width: 100%;

    .header {
      display: flex;
      margin-bottom: 72px;
      justify-content: space-between;
      @media (max-width: 1600px) {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 64px;
      }
      @media (max-width: 1024px) {
        gap: 36px;
        margin-bottom: 36px;
      }
      @media (max-width: 640px) {
        gap: 25px;
        margin-bottom: 25px;
      }

      .title {
        color: $dark-gray;
        max-width: 780px;
        text-transform: uppercase;
        @media (max-width: 1600px) {
          font-size: 48px;
          line-height: 52.8px;
          max-width: 913px;
        }
        @media (max-width: 1024px) {
        }
        @media (max-width: 640px) {
          font-size: 32px;
          line-height: 35.2px;
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 930px;
        @media (max-width: 1600px) {
          max-width: unset;
        }
        @media (max-width: 640px) {
          display: none;
        }

        button {
          padding: 9px 19px;
          background-color: $white;
          color: $dark-gray;
          border: 1px solid $blue-light;
          cursor: pointer;
          border-radius: 7px;
          transition: background-color 0.2s;
          font-family: "DIN Pro medium", sans-serif;
          @each $property, $value in $b18-medium {
            #{$property}: #{$value};
          }

          &:hover {
            border: 0;
            padding: 10px 20px;
            background-color: #c6dff566;
          }
        }

        .activeTag {
          background-color: $main-blue;
          border: 0;
          padding: 10px 20px;
          color: #fff;

          &:hover {
            background: $blue-hover;
          }
        }
      }
      .dropdown {
        width: 100%;
        padding: 10px;
        font-family: "DIN Pro medium", sans-serif;
        font-size: 16px;
        color: $dark-gray;
        border: 1px solid $blue-light;
        border-radius: 7px;
        background-color: $white;
        appearance: none;
        background-image: url("/images/icons/dropdown-arrow.svg");
        background-repeat: no-repeat;
        background-position: right 15px center;
        background-size: 16px 16px;

        @media (max-width: 640px) {
          display: block;
        }
      }
    }

    .projectsList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      width: 100%;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 640px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin-bottom: 56px;
      }
    }

    .loadButtonContainer {
      display: flex;
      max-width: 285px;
      width: 285px;
      margin: 0 auto;
      @media (max-width: 640px) {
        max-width: unset;
        width: 100%;
      }

      .loadButton {
        width: 100%;
      }
    }
  }
}
