@import "/styles/variables";

.banner {
  margin-top: 48px;
  position: relative;
  width: 100%;
  height: 316px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  justify-content: flex-end;
  @media (max-width: 1600px) {
    height: 263px;
    margin-top: 24px;
  }
  @media (max-width: 1024px) {
    height: 316px;
  }
  @media (max-width: 640px) {
    height: 400px;
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -83.57deg,
    rgba(43, 117, 209, 0.21) 10.65%,
    rgba(39, 84, 141, 0.44) 37.04%,
    #1a3250 74.83%
  );
  z-index: 1;
}

.bannerContent {
  z-index: 2;
  color: $gray;
  padding: 48px 50px;
  max-height: 316px;
  margin: 0 auto;
  left: 0;
  position: absolute;
  background: unset;
  @media (max-width: 1600px) {
    padding: 40px;
  }
  @media (max-width: 640px) {
    padding: 20px;
  }
}

.tag {
  padding: 10px 18px 12px 18px;
  background-color: $main-blue;
  color: $white;
  border-radius: 7px;
  width: max-content;
  font-family: "DIN Pro medium", sans-serif;
  @each $property, $value in $b18-medium {
    #{$property}: #{$value};
  }
  @media (max-width: 1024px) {
    border-radius: 10px;
  }
  @media (max-width: 640px) {
    padding: 10px 20px 12px 20px;
    border-radius: 7px;
  }
}

.title {
  font-family: "DIN Pro medium", sans-serif;
  max-width: 551px;
  font-size: 28px;
  line-height: 36.4px;
  letter-spacing: -0.02em;
  margin-top: 30px;
  @media (max-width: 1600px) {
    font-size: 24px;
    line-height: 31.2px;
  }
  @media (max-width: 1024px) {
    font-size: 32px;
    line-height: 38.4px;
    max-width: unset;
  }
  @media (max-width: 640px) {
    font-size: 24px;
    line-height: 31.2px;
    width: 88%;
  }
}

.videoContainer {
  width: 100%;
  position: relative;
  height: 316px;
  @media (max-width: 1600px) {
    height: 263px;
  }
  @media (max-width: 1024px) {
    width: 100%;
    height: 263px;
    position: relative;
  }
  @media (max-width: 640px) {
    height: 400px;
  }
}

.videoBackground {
  width: 100%;
  position: absolute;
  object-fit: cover;
  @media (max-width: 640px) {
    width: unset;
  }
}