@import "/styles/variables";

.header {
  display: flex;
  justify-content: space-between;

  .title {
    color: $dark-gray;
    letter-spacing: -0.02em;
    @media (max-width: 640px) {
      font-size: 18px;
      line-height: 23.4px;
      letter-spacing: -0.02em;
    }
  }

  .buttonsArea{
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .addButton {
    @media (max-width: 640px) {
      display: flex;
      align-items: center;
    }
    .mobileArrow {
      display: none;

      @media (max-width: 640px) {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .icon {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 14px;
        width: 8px;
        background-image: url("/images/icons/next-arrow.svg");
      }
    }

    button {
      padding: 10px 20px;
      background-color: #f9f9f9;
      color: $main-blue;
      border: 1px solid $main-blue;
      cursor: pointer;
      border-radius: 7px;
      transition: background-color 0.2s, padding-right 0.2s;
      font-family: "DIN Pro medium", sans-serif;
      position: relative;
      @media (max-width: 640px) {
        display: none;
      }

      @each $property, $value in $b18-medium {
        #{$property}: #{$value};
      }

      &:hover {
        padding-right: 40px;

        &::after {
          content: "";
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          background-image: url("/images/icons/plus.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  .text {
    max-width: 967px;
    margin-right: 90px;
    font-family: "DIN Pro medium", sans-serif;
    @each $property, $value in $b24-medium {
      #{$property}: #{$value};
    }
  }
}
.indexWithButtonHeader {
  .addButton {
    button {
      @media (max-width: 1024px) {
        padding: 8px 12px 10px 12px;
      }
    }
  }

  .title {
    @media (max-width: 640px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .pdfButton {
    display: none;
    width: 166px;
    @media (max-width: 1024px) {
      display: block;
    }
    @media (max-width: 640px) {
      display: none
    }
  }
}

.uniqHeader, .newsHeader {
  .addButton {
    button {
      @media (max-width: 1024px) {
        padding: 8px 12px 10px 12px;
      }
    }
  }
  .title {
    @media (max-width: 640px) {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.separator {
  margin: 32px 0;
  height: 1px;
  background-color: #3232321a;
  width: 100%;

  @media (max-width: 1024px) {
    margin: 24px 0 40px 0;
  }
  @media (max-width: 640px) {
    margin: 8px 0 24px 0;
  }
}

.indexWithButtonSeparator {
  margin: 24px 0;

  @media (max-width: 1024px) {
    margin: 24px 0 32px 0;
  }
  @media (max-width: 640px) {
    margin: 8px 0 16px 0;
  }
}

.newsSeparator {
  margin: 24px 0 32px 0;
  @media (max-width: 1600px) {
    margin: 24px 0 32px 0;
  }
  @media (max-width: 1024px) {
    margin: 24px 0 40px 0;
  }
  @media (max-width: 640px) {
    margin: 8px 0 16px 0;
  }
}

.uniqSeparator {
  margin: 24px 0 48px 0;
  @media (max-width:1600px) {
    margin: 24px 0 32px 0;
  }
  @media (max-width: 1024px) {
    margin: 24px 0 32px 0;
  }
  @media (max-width: 640px) {
    margin: 8px 0 16px 0;
  }
}

.catalogSeparator{
  margin: 24px 0 32px;
  @media (max-width: 1024px) {
    margin: 32px 0 24px;
  }
  @media (max-width: 640px) {
    margin: 16px 0 26px;
  }
}