@import "/styles/variables";

.container {
    max-width: 1124px;
    width: 100%;
    height: 66px;
    background-color: $white;
    border-radius: 7px;
    padding: 13px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    overflow: hidden;

    .ellipsis {
        cursor: pointer;
        width: 30px;
        padding: 8px 0 6px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 6px;

        .dot {
            width: 6px;
            height: 6px;
            background-color: $main-blue;
            border-radius: 50%;
        }
    }

    .ellipsisActive {
        .dot {
            background-color: $blue-light;
        }
    }

    .menuPopup {
        position: absolute;
        top: 80px;
        background: $white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        z-index: 1000;

        .popupContent {
            width: 281px;
            padding: 20px 12px 20px 20px;
            overflow: hidden;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 17px;
        }
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

.hiddenContainer{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 66px;
    padding: 13px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    @media (max-width: 1024px) {
        display: none;
    }
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: $dark-gray;
    font-family: "DIN Pro medium", sans-serif;
    letter-spacing: -0.03em;
    @each $property, $value in $b17-medium {
        #{$property}: #{$value};
    }
}