@import '/styles/variables';

.container {
	transition: all 0.3s ease;
	display: flex;
	a {
		text-decoration: none;
	}
	.phone {
		font-size: 20px;
		line-height: 20px;
		letter-spacing: normal;
		cursor: pointer;
	}

	.social {
		height: max-content;
		border: 1px solid $blue-light;
		display: flex;
		gap: 0;
		border-radius: 8px;
		cursor: pointer;
		align-items: center;

		.telegram {
			padding: 20px 18px 20px 21px;
		}
		.whatsapp {
			padding: 20px 21px 20px 18px;
		}
	}
}

@media (max-width: 640px) {
	.contactsContainer {
		.phone {
			padding: 14px 51px;
		}
		.social {
			max-height: 48px;
			padding: 14px 21px;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.headerContainer {
	gap: 5px;
	height: 66px;
	@media (max-width: 640px) {
		height: 52px;
		justify-content: flex-end;
	}

	.phone {
		font-family: 'DIN Pro condensedbold', sans-serif;
		padding: 23px 20px;
		letter-spacing: -0.0005em;
		width: 140px;
		min-width: 140px;
		border-radius: 7px;
		background: $main-blue;
		color: $white;

		@media (max-width: 1024px) {
			display: none;
		}
	}

	.social {
		border: 1px solid #d0dcf0;
		border-radius: 8px;
		height: 100%;
		@media (max-width: 640px) {
			border: 1px solid $main-blue;
		}

		.telegram {
			padding: 23px 18px 23px 21px;

			@media (max-width: 1024px) {
				padding: 23px 17px 23px 20px;
			}
			@media (max-width: 680px) {
				padding: 23px;
			}
			@media (max-width: 640px) {
				height: 52px;
				padding: 18px;
			}
		}
		.whatsapp {
			padding: 23px 19px 23px 15px;
			@media (max-width: 1024px) {
				padding: 23px 20px 23px 17px;
			}
		}

		.separator, .whatsapp {
			@media (max-width: 680px) {
				display: none;
			}
		}

		a {
			padding: 23px 21px;
			height: 66px;
			img {
				height: 20px;
				width: 20px;
				@media (max-width: 640px) {
					height: 15px;
					width: 15px;
				}
			}
		}
	}
}

.footerContainer {
	flex-direction: row;
	align-items: center;
	gap: 58px;
	height: 90px;

	@media (max-width: 1024px) {
		justify-content: space-between;
	}
	@media (max-width: 640px) {
		gap: 28px;
		flex-direction: column;
		height: unset;
		align-items: flex-start;
	}
	.phone {
		font-family: 'DIN Pro Condensedbold', sans-serif;
		padding: 0;
		min-width: 140px;
		color: $white;
		font-size: 60px;
		line-height: 90px;

		@media (max-width: 640px) {
			order: 2;
			font-size: 24px;
			line-height: 36px;
		}
	}

	.social {
		height: 62px;
		border: unset;
		gap: 10px;
		border-radius: unset;

		@media (max-width: 1024px) {
			height: 80px;
		}
		@media (max-width: 640px) {
			order: 1;
			height: 50px;
		}

		.telegram {
			border: 1.4px solid #D0DCF04D;
			border-radius: 8px;
			padding: 19px 18px;
			@media (max-width: 1024px) {
				border-radius: 10px;
				padding: 25px 23px;
			}
			@media (max-width: 640px) {
				border-radius: 7px;
				padding: 15px 14px;
			}
			img {
				height: 23px;
				width: 26px;
				@media (max-width: 1024px) {
					height: 30px;
					width: 34px;
				}
				@media (max-width: 640px) {
					height: 20px;
					width: 23px;
				}
			}
		}
		.whatsapp {
			border: 1.4px solid #D0DCF04D;
			border-radius: 8px;
			padding: 16px;
			@media (max-width: 1024px) {
				border-radius: 10px;
				padding: 20px;
			}
			@media (max-width: 640px) {
				border-radius: 7px;
				padding: 12px;
			}
			img {
				height: 30px;
				width: 30px;
				@media (max-width: 1024px) {
					height: 40px;
					width: 40px;
				}
				@media (max-width: 640px) {
					height: 25px;
					width: 25px;
				}
			}
		}

		.separator {
			display: none;
		}

		a {
			height: 62px;
			width: 62px;
			@media (max-width: 1024px) {
				height: 80px;
				width: 80px;
			}
			@media (max-width: 640px) {
				height: 50px;
				width: 50px;
			}
		}
	}
}

.contactsContainer {
	gap: 10px;
	@media (max-width: 640px) {
		width: 100%;
		justify-content: space-between;
	}
	.phone {
		min-width: 200px;
		font-family: 'DIN Pro Condensedmedium', sans-serif;
		padding: 23px 51px;
		font-size: 20px;
		line-height: 20px;
		border-radius: 8px;
		background: $dark-gray;
		color: #f5f5f5;
		height: max-content;
		@media (max-width: 740px) {
			padding: 23px;
			text-align: center;
			min-width: 145px;
		}
		@media (max-width: 640px) {
			padding: 14px 50px;
			min-width: unset;
		}
	}

	.social {
		height: max-content;
		border: 1px solid $blue-light;
		border-radius: 8px;
		@media (max-width: 640px) {
			max-height: 48px;
			max-width: 117px;
			padding: 0;
		}
		.telegram {
			padding: 24px 18px 24px 21px;
			@media (max-width: 640px) {
				padding: 15px 18px 15px 21px;
			}
		}
		.whatsapp {
			padding: 23px 20px 23px 18px;
			@media (max-width: 640px) {
				padding: 14px 20px 14px 17px;
			}
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
