@import "/styles/variables";

.container {
    background-color: $main-blue;

    .footerBody {
        margin: 0 auto;
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        gap: 43px;
        padding: 47px 60px 22px 30px;

        @media (max-width: 1600px) {
            gap: 46px;
            padding: 50px 50px 36px 30px;
        }
        @media (max-width: 1024px) {
            gap: 40px;
            padding: 47px 20px 30px 20px;
        }

        @media (max-width: 640px) {
            gap: 32px;
            padding: 20px 10px 25px 10px;
        }

        .footerLogo {
            margin-left: 6px;
            width: 225px;
            height: 26px;
            position: relative;
            @media (max-width: 1600px) {
                margin-left: 0;
            }
            @media (max-width: 640px) {
                width: 179px;
            }

            .logoContainer {
                img {
                    position: absolute;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;

                    @media (max-width: 640px) {
                        object-fit: contain;
                    }
                }
            }
        }

        .linksBox {
            display: flex;
            flex-direction: row;
            gap: 120px;
            margin-top: 7px;

            @media (max-width: 1600px) {
                margin-top: 0;
                flex-direction: column;
                gap: 69px;
            }
            @media (max-width: 1024px) {
                margin-top: 8px;
                gap: 18px;
            }

            @media (max-width: 640px) {
                margin-top: 0;
                gap: 2px;
            }
        }

        .footerInfo {
            display: flex;
            flex-direction: column;
            gap: 30px;
            @media (max-width: 1600px) {
                margin-top: 0;
                gap: 23px;
            }
            @media (max-width: 1024px) {
                margin-top: 0;
                gap: 40px;
            }
            @media (max-width: 640px) {
                margin-top: 30px;
                gap: 47px;
            }
            .footerContacts {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                @media (max-width: 1024px) {
                    flex-direction: column;
                    gap: 40px;
                }
                @media (max-width: 640px) {
                    gap: 21px;
                }
                .footerContactsInfo {
                    display: flex;
                    flex-direction: row;
                    gap: 132px;
                    min-width: 1130px;

                    @media (max-width: 1600px) {
                        gap: 10px;
                        flex-direction: column;
                        min-width: 510px;
                    }
                    @media (max-width: 1024px) {
                        gap: 0;
                        min-width: unset;
                        width: 100%;
                    }
                }

                .footerContactsEmail {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: "DIN Pro сondensedblack", sans-serif;
                    text-align: left;
                    letter-spacing: unset;
                    color: $white;
                    font-size: 60px;
                    line-height: 150%;
                    font-weight: 900;

                    @media (max-width: 640px) {
                        font-size: 24px;
                    }

                    span {
                        font-family: "RobotoMono medium", sans-serif;
                        font-weight: 500;
                        @media (max-width: 640px) {
                            margin: 0 2px;
                        }
                    }
                }

                .footerContactsButton {
                    max-width: 458px;
                    height: 64px;
                    width: 100%;
                    @media (max-width: 1600px) {
                        align-self: start;
                        margin-top: 13px;
                    }
                    @media (max-width: 1024px) {
                        max-width: unset;
                        margin-top: 0;
                    }
                    @media (max-width: 640px) {
                        height: 56px;
                    }
                }
            }

            .footerContactsLinks {
                display: flex;
                flex-direction: row;
                gap: 210px;
                @media (max-width: 1024px) {
                    display: none;
                }

                .companyInfo {
                    display: flex;
                    flex-direction: column;
                    gap: 17px;
                    @media (max-width: 1600px) {
                        gap: 13px;
                    }
                }

                .linksInfo {
                    display: flex;
                    flex-direction: column;
                    gap: 17px;
                    @media (max-width: 1600px) {
                        gap: 13px;
                    }
                }

                .linksBlock {
                    display: flex;
                    flex-direction: row;
                    gap: 35px;
                }
            }

            .footerContactsLinksTablet {
                display: none;
                @media (max-width: 1024px) {
                    display: grid;
                    grid-template-columns: 38% 59.45%;
                    grid-template-rows: repeat(3, 0.5fr);
                    gap: 20px;
                }
                @media (max-width: 640px) {
                    gap: 24px;
                    grid-template-columns: 100%;
                    grid-template-rows: repeat(5, 0.5fr);
                }
            }

            .companyInfoText {
                font-family: "DIN Pro Medium", sans-serif;
                color: $white;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
}

.filterElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;

    @media (max-width: 1280px) {
        gap: 40px;
    }
    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 13px;
    }

    @media (max-width: 640px) {
        gap: 2px;
    }

    .filterElement {
        .desktopElement {
            display: flex;
            flex-direction: column;
            gap: 22px;

            @media (max-width: 1024px) {
                display: none;
            }
        }

        .mobileElement {
            display: none;
            @media (max-width: 1024px) {
                display: block;
            }
        }

        .filterChildrenElements {
            display: flex;
            flex-direction: column;
            gap: 15.6px;
        }
    }
}

.linkElements {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1600px) {
        flex-direction: row;
        justify-content: flex-start;
        gap: 70px;
    }
    @media (max-width: 1024px) {
        gap: 40px;
        flex-direction: column;
    }
    @media (max-width: 640px) {
        gap: 24px;
    }
    .linkElement {
        max-width: 250px;
        width: 100%;
        @media (max-width: 1600px) {
            max-width: unset;
            width: unset;
        }
    }
}

.headerLink {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "DIN Pro сondensedblack", sans-serif;
    text-align: left;
    letter-spacing: unset;
    color: $white;
    @each $property, $value in $b20-bold {
        #{$property}: #{$value};
    }
    @media (max-width: 1024px) {
        font-weight: 900;
        font-size: 40px;
        line-height: 110%;
        letter-spacing: -0.02em;
    }
    @media (max-width: 640px) {
        font-size: 24px;
    }
}

.link {
    text-decoration: none;
    font-family: "DIN Pro Medium", sans-serif;
    text-align: left;
    letter-spacing: unset;
    color: $white;
    @each $property, $value in $b16-medium {
        #{$property}: #{$value};
    }
}