@import "/styles/variables";

.container {
  display: flex;
  padding: 0 30px 40px 30px;
  flex-direction: column;

  @media (max-width: 1600px) {
    padding: 0px 30px 36px 30px;
  }
  @media (max-width: 1024px) {
    padding: 0px 20px;
  }
  @media (max-width: 640px) {
    padding: 0px 10px 24px 10px;
  }
}

.containerInner {
  display: flex;
  align-items: flex-start;
}
