@import "/styles/variables";

.moreInfo {
  width: 100%;
  h4 {
    @media (max-width: 1600px) {
      font-size: 24px;
      line-height: 130%;
    }
  }
}

.moreInfoContainer {
  display: flex;
  gap: 110px;
  @media (max-width: 1325px) {
    gap: 50px;
  }
  @media (max-width: 1200px) {
    gap: 10px;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 48px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 40px;
      color: #000;
      font-family: "DIN Pro medium", sans-serif;
      font-size: 24px;
      font-style: normal;
      line-height: 140%;
      letter-spacing: -0.24px;
    }

    .btnContainer {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 32px;
      font-family: "DIN Pro medium", sans-serif;
      letter-spacing: -0.48px;

      @each $property, $value in $b24-medium {
        #{$property}: #{$value};
      }
      @media (max-width: 1600px) {
        font-size: 18px;
        line-height: 21.6px;
      }
      @media (max-width: 1024px) {
        flex-direction: row;
        gap: 20px;
        display: none;
      }
      @media (max-width: 640px) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    .btnContainerTablet {
      display: none;
      @media (max-width: 1024px) {
        font-family: "DIN Pro medium", sans-serif;
        letter-spacing: -0.48px;

        @each $property, $value in $b24-medium {
          #{$property}: #{$value};
        }
        display: block;
        margin-bottom: 24px;
      }
      @media (max-width: 640px) {
        display: none;
      }
    }

    .requestButton {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 340px;
      transition: background-color 0.3s;
      padding: 20px;
      font-family: "DIN Pro medium", sans-serif;
      color: $white;
      background-color: $main-blue;
      border-radius: 7px;
      border: none;
      width: max-content;
      letter-spacing: -0.44px;
      font-size: 22px;
      font-style: normal;
      line-height: 120%;

      @media (max-width: 1600px) {
        font-size: 18px;
        line-height: 21.6px;
      }
      @media (max-width: 640px) {
        width: 100%;
      }
      &:hover {
        background-color: $blue-hover;
      }
    }
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    gap: 72px;
    max-width: 1233px;
    width: 100%;
  }

  .btnContainer {
    display: flex;
    gap: 10px;
  }
  .btn {
    cursor: pointer;
    padding: 10px 20px 12px 20px;
    border-radius: 7px;
    border: 1px solid #c6dff5b2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DIN Pro medium", sans-serif;

    @each $property, $value in $b20-medium {
      #{$property}: #{$value};
    }
    @media (max-width: 1600px) {
      font-size: 18px;
      line-height: 21.6px;
    }
    @media (max-width: 640px) {
      width: max-content;
    }
  }

  .btn.active {
    border-color: $main-blue;
    color: $main-blue;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 640px) {
      gap: 24px;
    }

    .addInfoList {
      font-family: "DIN Pro", sans-serif;
      @each $property, $value in $b24-regular {
        #{$property}: #{$value};
      }
      @media (max-width: 1600px) {
        font-size: 18px;
        line-height: 21.6px;
      }

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          position: relative;
          padding-left: 25px;
          margin-bottom: 30px;

          &::before {
            content: "•";
            position: absolute;
            left: 0;
            color: #000;
            font-size: 16px;
          }
        }
      }
    }
  }

  .technicalInfo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 640px) {
      gap: 24px;
    }
    .btnContainerMobile {
      display: none;
      @media (max-width: 640px) {
        display: block;
      }
      .swiperSlide {
        width: auto !important;
      }
    }
    @media (max-width: 640px) {
      .btnContainer {
        display: none;
      }
    }
  }
}

.imageContainer {
  margin: 20px 0;
  text-align: center;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.tableWrapper {
  overflow-x: auto;
}

.techTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-family: "DIN Pro", sans-serif;

  tr {
    border-bottom: 1px solid #eee;
  }

  td {
    padding: 12px 8px;
    vertical-align: middle;
    height: 64px;
    font-family: "DIN Pro", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -0.36px;
    opacity: 0.5;
  }

  td:first-child {
    min-width: 300px;
    color: var(--Text, #323232);
    opacity: 1;

    @each $property, $value in $b18-medium {
      #{$property}: #{$value};
    }
    font-family: "DIN Pro medium", sans-serif;
    letter-spacing: -0.36px;
  }
}

.showMore {
  cursor: pointer;
  font-family: "DIN Pro bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: $main-blue;
}

.downloadContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #c6dff5b2;
  padding: 27px 34px;
  width: 100%;
  @media (max-width: 640px) {
    padding: 21px;
  }

  .downladCharacter {
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: "DIN Pro medium", sans-serif;
    font-size: 24px;
    line-height: 31.2px;
    gap: 26px;
    @media (max-width: 640px) {
      font-size: 20px;
    }
    img {
      width: 40px;
      height: 40px;
      @media (max-width: 640px) {
        width: 31px;
        height: 31px;
      }
    }
    
    .longText {
      display: inline;
    }
    .shortText {
      display: none;
    }
  }

  .downloadIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    height: 64px;
    position: relative;
    border-radius: 100px;

    padding: 13px;
    cursor: pointer;
    overflow: hidden;
    transition: background 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background: $main-blue;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: width 0.3s ease, height 0.3s ease;
      z-index: -1;
    }
  }
  
  &:hover {
    .downloadIcon {
      &::before {
        width: 150%;
        height: 150%;
      }
      
      img {
        content: url("/images/icons/download-white-without.svg");
      }
    }
  }
}

.howItWorks {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  @media (max-width: 640px) {
    gap: 24px;
  }

  .videoWrapper {
    position: relative;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #000;
    overflow: hidden;

    source {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .playIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
}

.robotContains {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  @media (max-width: 640px) {
    gap: 24px;
  }

  h4 {
    width: 100%;
  }

  .robotContainsSlider {
    width: 100%;
  }
}

.gridContainer {
  margin-top: 100px;
  margin-bottom: 200px;
}

@media (max-width: 640px) {
  .downladCharacter {
    .longText {
      display: none!important;
    }
    .shortText {
      display: inline!important;
    }
  }
}

@keyframes moveIcon {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  45% {
    transform: translateY(100%);
    opacity: 0;
  }

  55% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
