@import "/styles/variables";

.buttonContainer {
  display: flex;
  gap: 30px;
  border-radius: 7px;
  padding: 9px 16px 9px 8px;
  border: 1px #c6dff5 solid;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: max-content;
  font-family: "DIN Pro medium", sans-serif;
  color: $main-blue;
  @each $property, $value in $b18-medium {
    #{$property}: #{$value};
  }
}
.titleLarge {
  @media (max-width: 1600px) {
    display: none;
  }
}

.titleMedium {
  display: none;
  @media (max-width: 1600px) {
    display: block;
  }
}