@import "/styles/variables";

.takeOfferContainer {
  margin-top: 32px;
  @media (max-width: 1600px) {
    margin-top: 24px;
  }
}

.takeOfferText {
  font-family: "DIN Pro", sans-serif;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -0.02em;
  margin-bottom: 32px;

  @media (max-width: 1600px) {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
  }
  @media (max-width: 1024px) {
    margin-bottom: 24px;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-size: 48px;
    line-height: 110%;
    margin: 40px 0;
    @media (max-width: 1600px) {
      font-size: 40px;
      margin: 33px 0;
    }
    @media (max-width: 1024px) {
      margin: 33px 0;
    }
    @media (max-width: 640px) {
      font-size: 24px;
      margin: 20px 0;
    }
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-size: 30px;
    line-height: 130%;
    margin: 30px 0;
    @media (max-width: 1600px) {
      font-size: 26px;
      margin: 26px 0;
    }
    @media (max-width: 1024px) {
      font-size: 30px;
      margin: 30px 0;
    }
    @media (max-width: 640px) {
      font-size: 24px;
      margin: 24px 0;
    }
  }
  h4 {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-size: 24px;
    line-height: 130%;
    margin: 32px 0;
    @media (max-width: 640px) {
      font-size: 20px;
      margin: 26px 0;
    }
  }

  ol {
    margin: 24px 0;
    @media (max-width: 1600px) {
      padding-left: 30px;
    }
    @media (max-width: 1024px) {
      margin: 24px 0;
    }
    @media (max-width: 640px) {
      margin: 20px 0;
    }

    li {
      font-size: 24px;
      line-height: 31.2px;
      letter-spacing: -0.02em;
      position: relative;
      padding-left: 20px;
      color: $dark-gray;
      cursor: pointer;
      margin-bottom: 32px;
      font-family: "DIN Pro", sans-serif;
      @media (max-width: 1600px) {
        padding-left: 0;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 26px;
      }
      @media (max-width: 1024px) {
        line-height: 31.2px;
        margin-bottom: 20px;
      }
      @media (max-width: 640px) {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
        letter-spacing: -0.01em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    color: #0149BF;
  }
}

.takeOfferContainer ul {
  padding-left: 40px;
  margin-top: 40px;
  @media (max-width: 1600px) {
    padding-left: 30px;
  }
  @media (max-width: 640px) {
    margin-top: 24px;
  }
}

.takeOfferContainer ul li {
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -0.02em;
  position: relative;
  padding-left: 20px;
  color: $dark-gray;
  cursor: pointer;
  margin-bottom: 32px;
  font-family: "DIN Pro", sans-serif;
  @media (max-width: 1600px) {
    padding-left: 0;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  @media (max-width: 1024px) {
    font-size: 24px;
    line-height: 31.2px;
    margin-bottom: 16px;
  }
  @media (max-width: 640px) {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    letter-spacing: -0.01em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.ctaButton {
  transition: background-color 0.3s;
  padding: 19px 46px;
  font-family: "DIN Pro condensedbold", sans-serif;
  color: $white;
  cursor: pointer;
  background-color: $main-blue;
  border-radius: 7px;
  border: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.02em;

  @media (max-width: 640px) {
    padding: 21px 30px;
  }
  &:hover {
    background-color: $blue-hover;
  }
}
