@import "/styles/variables";

.takeOfferContainer {
  margin-top: 32px;
  @media (max-width: 1600px) {
    margin-top: 24px;
  }
}

.takeOfferText {
  font-family: "DIN Pro", sans-serif;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -0.02em;
  margin-bottom: 32px;

  @media (max-width: 1600px) {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
  }
  @media (max-width: 1024px) {
    margin-bottom: 24px;
  }
}

.takeOfferContainer ul {
  padding-left: 40px;
  margin-top: 40px;
  @media (max-width: 1600px) {
    padding-left: 30px;
  }
  @media (max-width: 640px) {
    margin-top: 24px;
  }
}

.takeOfferContainer ul li {
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -0.02em;
  position: relative;
  padding-left: 20px;
  color: $dark-gray;
  cursor: pointer;
  margin-bottom: 32px;
  font-family: "DIN Pro", sans-serif;
  @media (max-width: 1600px) {
    padding-left: 0;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 26px;
  }
  @media (max-width: 1024px) {
    font-size: 24px;
    line-height: 31.2px;
  }
  @media (max-width: 640px) {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.01em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.ctaButton {
  transition: background-color 0.3s;
  padding: 19px 46px;
  font-family: "DIN Pro condensedbold", sans-serif;
  color: $white;
  background-color: $main-blue;
  border-radius: 7px;
  border: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.02em;

  @media (max-width: 640px) {
    padding: 21px 30px;
  }
  &:hover {
    background-color: $blue-hover;
  }
}
