@import '/styles/variables';
.sliderContainer {
	padding: 0 0 100px 0;
	width: 100%;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: end;
		font-family: 'DIN Pro bold', sans-serif;
		gap: 400px;
		h4 {
			font-size: 30px;
			line-height: 39px;
			letter-spacing: -0.02em;
			color: #323232;
		}
	}
	.separator {
		margin: 24px 0 32px 0;
		height: 1px;
		background-color: #3232321a;
		width: 100%;
	}
	.slider {
		display: block;
		position: relative;
		.swiperSlide {
			height: auto;
		}
		.card {
			max-height: 487px;
			background: white;
			height: 100%;
			border-radius: 20px;
			display: flex;
			gap: 40px;
			.imageContainer {
				width: 35%;
				.image {
					height: 100%;
					width: 100%;
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
					object-fit: cover;
				}
			}

			.descriptionContainer {
				width: 65%;
				padding: 40px 110px 58px 0;
				display: flex;
				flex-direction: column;
				gap: 32px;
				.titleContainer {
					display: flex;
					flex-direction: column;
					gap: 24px;
					.data {
						font-family: 'DIN Pro condensedbold', sans-serif;
						color: #32323280;
						opacity: 0.5;
						text-transform: uppercase;
						font-size: 20px;
						line-height: 24px;
						letter-spacing: 0.2em;
					}
					.tag {
						padding: 10px 20px 12px 20px;
						width: max-content;
						background-color: $main-blue;
						color: #fff;
						border-radius: 10px;
						transition: background-color 0.2s;
						font-family: 'DIN Pro', sans-serif;
						letter-spacing: -0.05em;
						font-size: 18px;
						line-height: 18px;
					}
					.title {
						max-width: 468px;
						font-size: 32px;
						line-height: 38.4px;
						letter-spacing: -0.02em;
						font-family: 'DIN Pro medium', sans-serif;
						color: #323232;
					}
				}
				.description {
					max-height: 168px;
					color: #323232;
					font-family: 'DIN Pro', sans-serif;
					font-size: 20px;
					line-height: 28px;
					letter-spacing: -0.01em;
				}
				.mobileRead {
					text-decoration: underline;
					font-size: 20px;
					line-height: 28px;
					letter-spacing: -0.02em;
					color: rgba(1, 73, 191, 1);
				}
			}
		}
	}
	.mobileButtons {
		display: none;
	}
}

@media (max-width: 1600px) {
	.sliderContainer {
		padding: 0 0 128px 0;
		width: 100%;
		.header {
			display: flex;
			justify-content: space-between;
			align-items: end;
			font-family: 'DIN Pro bold', sans-serif;
			gap: 400px;
			h4 {
				font-size: 30px;
				line-height: 39px;
				letter-spacing: -0.02em;
				color: #323232;
			}
		}
		.separator {
			margin: 24px 0 32px 0;
			height: 1px;
			background-color: #3232321a;
			width: 100%;
		}
		.slider {
			display: block;
			position: relative;
			.card {
				max-height: 451px;
				// max-width: 1148px;
				background: white;
				height: 100%;
				border-radius: 20px;
				display: flex;
				gap: 40px;
				.imageContainer {
					width: 38%;
					.image {
						height: 100%;
						width: 100%;
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;
						object-fit: cover;
					}
				}

				.descriptionContainer {
					width: 62%;
					padding: 40px 25px 60px 0;
					display: flex;
					flex-direction: column;
					gap: 32px;
					.titleContainer {
						.title {
							max-width: 468px;
							font-size: 28px;
							line-height: 36.4px;
							color: #323232;
						}
					}
					.description {
						max-height: 135px;
						font-size: 18px;
						line-height: 27px;
						letter-spacing: -0.02em;
					}
					.mobileRead {
						text-decoration: underline;
						font-size: 18px;
						line-height: 27px;
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.sliderContainer {
		padding: 0 0 64px 0;
		width: 100%;
		.header {
			display: flex;
			justify-content: space-between;
			align-items: end;
			font-family: 'DIN Pro bold', sans-serif;
			gap: 120px;
		}
		.separator {
			margin: 34px 0 32px 0;
		}
		.slider {
			display: block;
			position: relative;
			.card {
				max-height: 343px;
				// max-width: 768px;
				border-radius: 10px;
				gap: 30px;
				.imageContainer {
					width: 40%;
					.image {
						height: 100%;
						width: 100%;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
						object-fit: cover;
					}
				}

				.descriptionContainer {
					width: 60%;
					padding: 30px 30px 30px 0;
					gap: 16px;
					.titleContainer {
						gap: 16px;
						.data {
							font-size: 16px;
							line-height: 19.2px;
							letter-spacing: 0.2em;
						}
						.tag {
							padding: 10px 20px 12px 20px;
							border-radius: 7px;
						}
						.title {
							max-width: 401px;
							font-size: 24px;
							line-height: 31.2px;
							letter-spacing: -0.02em;
						}
					}
					.description {
						max-height: 114px;
						position: relative;
						font-size: 16px;
						line-height: 19.2px;
						letter-spacing: -0.02em;
					}
					.mobileRead {
						text-decoration: underline;
						font-size: 16px;
						line-height: 19.2px;
					}
				}
			}
		}
	}
}

@media (max-width: 640px) {
	.sliderContainer {
		padding: 0 0 80px 0;
		width: 100%;
		.header {
			h4 {
				font-size: 20px;
				line-height: 26px;
				letter-spacing: -0.02em;
			}
			.desktopButtonContainer {
				display: none;
			}
		}
		.separator {
			margin: 16px 0 24px 0;
		}
		.slider {
			display: block;
			position: relative;
			.card {
				max-height: 593px;
				// max-width: 330px;
				border-radius: 10px;
				gap: 20px;
				flex-direction: column;
				.imageContainer {
					max-height: 242px;
					height: 242px;
					width: 100%;
					.image {
						height: 100%;
						width: 100%;
						border-bottom-left-radius: unset;
						border-top-left-radius: 10px;
						border-top-right-radius: 10px;
						object-fit: cover;
					}
				}

				.descriptionContainer {
					width: 100%;
					padding: 0 20px 32px 20px;
					display: flex;
					flex-direction: column;
					gap: 8px;
					.titleContainer {
						display: flex;
						flex-direction: column;
						gap: 16px;
						.data {
							font-size: 16px;
							line-height: 19.2px;
						}
						.tag {
							border-radius: 7px;
							font-size: 14px;
							line-height: 14px;
						}
						.title {
							max-width: 100%;
							font-size: 20px;
							line-height: 26px;
						}
					}
					.description {
						max-height: 120px;
						font-size: 16px;
						line-height: 19.2px;
						letter-spacing: -0.02em;
					}
					.mobileRead {
						display: block;
						margin-top: 20px;
						font-size: 16px;
						line-height: 19.2px;
						letter-spacing: -0.02em;
						text-decoration: underline;
						color: #0149bf;
					}
				}
			}
		}
		.mobileButtons {
			margin-top: 24px;
			display: block;
		}
	}
}
