.containerButton {
	height: 64px;
	display: flex;
	gap: 10px;
	.prevButton,
	.nextButton {
		z-index: 10;
		background: none;
		border: none;
		cursor: pointer;

		img {
			width: 64px;
			height: 64px;
		}
	}
}
