.productPaginationGridContainer {
    padding: 34px 30px 12px 30px;

  @media (max-width: 1024px) {
    padding: 34px 20px 10px 20px;
  }
  @media (max-width: 640px) {
    padding: 10px 10px 20px 10px;
  }
}