@import "/styles/variables";

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 640px) {
    justify-content: center;
  }
}

.showMoreBtn {
  width: 285px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 21px;
  cursor: pointer;
  border: 1px solid $blue-light;
  border-radius: 7px;
  background-color: $white;
  color: $main-blue;
  font-family: "DIN Pro condensedbold", sans-serif;
  @each $property, $value in $b22-medium {
    #{$property}: #{$value};
  }
  transition: width 1s ease, background-color 1s ease, border 1s  ease;

  &:hover {
    width: 265px;
    border: 1px solid $main-blue;
  }

  @media (max-width: 640px) {
    
    padding: 18px 22px;
    justify-content: space-between;
  }
}

.spinner {
  width: 24px;
  height: 24px;
  background: url("/images/icons/loader.svg") no-repeat center;
  background-size: contain;
  transition: transform 1s ease;
}

.showMoreBtn:hover .spinner {
  transform: rotate(180deg);
}

.whiteTheme{
  background-color: $white;
}

.grayTheme{
  background-color: #f9f9f9;
}