@import "/styles/variables";
.buttonContainer {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .showMoreBtn {
  
    display: inline-flex;
    gap: 78px;
    align-items: center;
    padding: 22px 21px;
    cursor: pointer;
    border: 1px solid $blue-light;
    border-radius: 7px;
    background-color: $white;
    color: $main-blue;
    font-family: "DIN Pro сondensedblack", sans-serif;
    @each $property, $value in $b22-medium {
      #{$property}: #{$value};
    }
    @media (max-width: 640px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 20px;
      line-height: 20px;
      gap: 178px;
      padding: 22px 18px;
    }
    transition: background-color 0.2s;

    &:hover {
      background-color: #c6dff566;
    }

    .spinner {
      margin-left: 10px;
      width: 24px;
      height: 24px;
      background: url("/images/icons/loader.svg") no-repeat center;
      background-size: contain;
      animation: none;
    }

    &:hover .spinner {
      animation: spin 0.8s linear infinite;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}