@import "/styles/variables";

.buttonContainer {
  width: 100%;
  /* Если требуется, чтобы кнопка была привязана слева, используйте flex-start.
     Если кнопка должна быть центрирована, её левая граница сместится, но текст внутри останется на месте */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.showMoreBtn {
  width: 285px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 21px;
  cursor: pointer;
  border: 1px solid $blue-light;
  border-radius: 7px;
  background-color: $white;
  color: $main-blue;
  font-family: "DIN Pro сondensedblack", sans-serif;
  @each $property, $value in $b22-medium {
    #{$property}: #{$value};
  }
  transition: width 1s ease, background-color 1s ease, border 1s  ease;

  &:hover {
    background-color: #c6dff566;
    width: 265px;
    border: 1px solid $main-blue;
  }

  @media (max-width: 640px) {
    width: 100%;
    padding: 22px 18px;
    justify-content: space-between;
  }
}

.spinner {
  width: 24px;
  height: 24px;
  background: url("/images/icons/loader.svg") no-repeat center;
  background-size: contain;
  transition: transform 1s ease;
}

.showMoreBtn:hover .spinner {
  transform: rotate(180deg);
}
